<div class="row mt-4 mb-3">
  <div class="col-3">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary rounded-5">
      <span class="fs-4">Affiner votre recherche</span>
      <hr>
      <button class="btn btn-outline-success p-1 fs-5 fw-bold" (click)="openModal(content)">
        Filtrer l'affichage
        <i class="fas fa-sort ms-2"></i>
      </button>
      <ng-template #content let-modal>
        <div class="modal-body">
          <h4 class="text-center">Appliquer un filtre</h4>
          <hr>
          <form class="d-flex justify-content-between" (ngSubmit)="sortInventory()">
            <select name="sortOrder" [(ngModel)]="sortOrder" class="form-select">
              <option value="date;DESC">Trier du plus récent au plus ancien</option>
              <option value="date;ASC">Trier du plus ancien au plus récent</option>
              <option value="title;ASC">Trier par titre (A-Z)</option>
              <option value="title;DESC">Trier par titre (Z-A)</option>
              <option value="author;ASC">Trier par auteur (A-Z)</option>
              <option value="author;DESC">Trier par auteur (Z-A)</option>
            </select>
            <button type="submit" class="btn btn-outline-info mx-3 fs-3" (click)="modal.dismiss()">
              <div [ngSwitch]="sortOrder">
                <div *ngSwitchCase="'date;DESC'">
                  <i class="fa-solid fa-arrow-down-wide-short"></i>
                </div>
                <div *ngSwitchCase="'date;ASC'">
                  <i class="fa-solid fa-arrow-down-short-wide"></i>
                </div>
                <div *ngSwitchCase="'title;ASC'">
                  <i class="fa-solid fa-arrow-down-a-z"></i>
                </div>
                <div *ngSwitchCase="'title;DESC'">
                  <i class="fa-solid fa-arrow-down-z-a"></i>
                </div>
                <div *ngSwitchCase="'author;ASC'">
                  <i class="fa-solid fa-arrow-down-a-z"></i>
                </div>
                <div *ngSwitchCase="'author;DESC'">
                  <i class="fa-solid fa-arrow-down-z-a"></i>
                </div>
              </div>
            </button>
          </form>
        </div>
      </ng-template>
      <hr>
      <ul ngbNav #nav="ngbNav" class="nav-tabs mx-auto">
        <li ngbNavItem>
          <button ngbNavLink>Par genre</button>
          <ng-template ngbNavContent class="my-4">
            <div *ngFor="let genre of genres" class="ms-5 my-2">
              <div class="form-check form-switch" (click)="filterBooksByGenres(genre.idGenre)">
                <input class="form-check-input me-2" type="checkbox" role="switch" [(ngModel)]="genre.isFilter">
                <label class="form-check-label">
                  {{genre.name | titlecase}} | <i class="fas {{genre.icon}} ms-2"></i>
                </label>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <button ngbNavLink>Par auteur</button>
          <ng-template ngbNavContent>
            <div *ngFor="let author of authors" class="ms-5 my-2">
              <div class="form-check" (click)="filterBooksByAuthors(author.idAuthor)">
                <input class="form-check-input me-2" type="checkbox" [(ngModel)]="author.isFilter">
                <label class="form-check-label">{{(author.firstName | titlecase) + ' ' + (author.lastName |
                  titlecase)}}</label>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
      <hr>
      <button class="btn btn-outline-danger mt-4 mb-1" (click)="removeFilters()">
        <i class="fa-solid fa-filter-circle-xmark me-2"></i>
        Retirer les filtres
      </button>
    </div>
  </div>
  <div class="col-9">
    <div class="d-flex justify-content-between mx-1 mb-4">
      <div class="form-check form-switch">
        <h4>Personnaliser l'affichage de l'inventaire :</h4>
        <select class="form-select w-75" [(ngModel)]="inventoryDisplay">
          <option selected value="table">Sous forme de tableau visuel</option>
          <option value="list">Sous forme de simple liste</option>
        </select>
      </div>
      <input name="searchInp" [(ngModel)]="searchInp" (ngModelChange)="applySearch(searchInp)" class="form-control w-25 ms-2 my-auto me-2" type="search" placeholder="Rechercher ...">
    </div>
    <div *ngIf="books.length > 0; else elseBlock" [ngSwitch]="inventoryDisplay">
      <div *ngSwitchCase="'table'">
        <div class="row row-cols-2 g-3">
          <a type="button" class="col" *ngFor="let book of books" [routerLink]="['/detailLivre', book.idBook]">
            <div class="card h-100 mb-3">
              <div class="row g-0">
                <div class="col-4">
                  <img src="{{book.cover}}" class="img-fluid img-thumbnail m-1" alt="{{book.title}}"
                    title="{{book.title}}" (error)="handleMissingImage($event)">
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h2 class="card-title">{{book.title | titlecase}}</h2>
                      <i class="fas {{book.genre.icon}} fs-3"></i>
                    </div>
                    <p class="mb-3">{{(book.author.firstName | titlecase) + ' ' + (book.author.lastName | titlecase)}}
                    </p>
                    <span class="card-text"><small>{{book.description}}</small></span>
                    <div class="d-flex justify-content-between mt-3">
                      <div class="d-flex align-items-center">
                        <i class="text-danger fs-2" [ngClass]="(book.isFavorite) ? 'fas fa-heart' : 'far fa-heart'"></i>
                        <!-- <span>
                          <span class="fs-4">[</span>
                          {{user.favorites.length}}
                          <span class="fs-4">]</span>
                        </span> -->
                      </div>
                      <div>
                        <div *ngIf="book.status.status == 'Emprunté'" class="border border-2 rounded-3 p-2 text-center">
                          En location
                        </div>
                        <div *ngIf="book.status.status == 'Disponible'"
                          class="border border-2 bg-info rounded-3 p-2 text-center">
                          Disponible</div>
                        <div *ngIf="book.status.status != 'Emprunté' && book.status.status != 'Disponible'"
                          class="border border-2 bg-info rounded-3 p-2 text-center">{{book.status.status}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div *ngSwitchCase="'list'">
        <table class="table table-hover table-borderless">
          <thead>
            <tr>
              <th scope="col">Numéro</th>
              <th scope="col">Titre</th>
              <th scope="col">Auteur</th>
              <th scope="col">Genre</th>
              <th scope="col">Langue d'origine</th>
              <th scope="col">Année de parution</th>
              <th scope="col">Statut</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books" [ngClass]="updateDisplay(book.status)">
              <td>#{{book.isbn}}</td>
              <td>{{book.title}}</td>
              <td>{{(book.author.firstName | titlecase) + ' ' + (book.author.lastName | titlecase)}}</td>
              <td><i class="fas {{book.genre.icon}}"></i></td>
              <td>{{book.originalLanguage}}</td>
              <td>{{book.publishedDate | date:'yyyy'}}</td>
              <td>{{book.status.status}}
              </td>
              <td type="button">
                <a [routerLink]="['/detailLivre', book.idBook]">
                  <i class="fas fa-circle-info fs-4 m-2"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #elseBlock>
      <h1 class="mt-5 text-center fst-italic fw-bolder">Aucun résultat.</h1>
    </ng-template>
  </div>
</div>