 <div class="text-center">
    <button class="btn btn-secondary" (click)="displayAllBooks()">Afficher tous les livres (dans la
      console)</button><br><br>
    <button class="btn btn-info" (click)="displayProfile()">Afficher le profil</button><br><br>
    <button class="btn btn-danger" (click)="disconnect()">Se déconnecter</button>
  </div>
  <div class="row mb-3">
    <div class="col-3 mt-4">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary rounded-end-5">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Affiner votre recherche</span>
        </a>
        <hr>
        <ul class="list-unstyled">
          <li class="my-2">
            <div class="form-check">
              <input class="form-check-input mx-3" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Science-fiction
              </label>
            </div>
          </li>
          <li class="my-2">
            <div class="form-check">
              <input class="form-check-input mx-3" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Fantastiques
              </label>
            </div>
          </li>
          <li class="my-2">
            <div class="form-check">
              <input class="form-check-input mx-3" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Québecois
              </label>
            </div>
          </li>
          <li class="my-2">
            <div class="form-check">
              <input class="form-check-input mx-3" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Policiers
              </label>
            </div>
          </li>
          <li class="my-2">
            <div class="form-check">
              <input class="form-check-input mx-3" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Jeunesses
              </label>
            </div>
          </li>
          <li class="my-2">
            <div class="form-check">
              <input class="form-check-input mx-3" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Bandes dessinées
              </label>
            </div>
          </li>
          <li class="my-2">
            <div class="form-check">
              <input class="form-check-input mx-3" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Numériques
              </label>
            </div>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col-9 row row-cols-2 g-3">
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titre du livre</h5>
                <p class="card-text">C'est ici q'il y aura une courte description du livre.</p>
                <button type="button" class="btn btn-outline-info active">Est présentement en location</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titre du livre</h5>
                <p class="card-text">C'est ici q'il y aura une courte description du livre.</p>
                <button type="button" class="btn btn-outline-info">N'est pas en location</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titre du livre</h5>
                <p class="card-text">C'est ici q'il y aura une courte description du livre.</p>
                <button type="button" class="btn btn-outline-info">N'est pas en location</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"> <a [routerLink]="['detailLivre','1']">Titre du livre</a> </h5>
                <p class="card-text">C'est ici q'il y aura une courte description du livre.</p>
                <button type="button" class="btn btn-outline-info active">Est présentement en location</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>