<div class="d-flex bg-body p-2 py-4">
  <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary rounded-5 me-3">
    <span class="fs-4 text-center">Affiner votre recherche</span>
    <hr>
    <button class="btn btn-outline-success mx-3 p-1 fs-5 fw-bold" (click)="openModal(ordersContent, 'lg')">
      Trier l'affichage
      <i class="fas fa-sort ms-2"></i>
    </button>
    <hr>
    <ul ngbNav #nav="ngbNav" class="nav-tabs mx-auto">
      <li ngbNavItem>
        <button ngbNavLink>Par genre</button>
        <ng-template ngbNavContent class="my-4">
          <div *ngFor="let genre of genres" class="my-2">
            <div class="form-check form-switch" (click)="filterBooks('genre', genre.idGenre, genre.isFilter)">
              <input [(ngModel)]="genre.isFilter" class="form-check-input me-2" type="checkbox" role="switch">
              <label class="form-check-label">
                {{genre.name | titlecase}} | {{getNumberOfBooks('genre', genre.idGenre)}}
              </label>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>Par auteur</button>
        <ng-template ngbNavContent>
          <div *ngFor="let author of authors" class="my-2">
            <div class="form-check form-switch" (click)="filterBooks('author', author.idAuthor, author.isFilter)">
              <input [(ngModel)]="author.isFilter" class="form-check-input me-2" type="checkbox" role="switch">
              <label class="form-check-label">
                {{(author.firstName | titlecase) + ' ' + (author.lastName | titlecase)}} |
                {{getNumberOfBooks('author', author.idAuthor)}}
              </label>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>Par statut</button>
        <ng-template ngbNavContent>
          <div *ngFor="let status of (statuses | slice:0:2)" class="my-2">
            <div class="form-check form-switch" (click)="filterBooks('status', status.idStatus, status.isFilter)">
              <input [(ngModel)]="status.isFilter" class="form-check-input me-2" type="checkbox" role="switch">
              <label class="form-check-label">
                {{status.status | titlecase}} | {{getNumberOfBooks('status', status.idStatus)}}
              </label>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>Par favoris</button>
        <ng-template ngbNavContent>
          <div class="form-check form-switch my-2" (click)="filterBooks('favorite')">
            <input [(ngModel)]="favoriteFilter" class="form-check-input me-2" type="checkbox" role="switch">
            <label class="form-check-label">
              J'aime
            </label>
          </div>
        </ng-template>
      </li>
    </ul>
    <div class="mx-auto" [ngbNavOutlet]="nav"></div>
    <hr>
    <button class="btn btn-outline-danger mx-3 mt-4 mb-1" (click)="removeFilters()">
      <i class="fa-solid fa-filter-circle-xmark me-2"></i>
      Retirer les filtres
    </button>
    <button class="btn bg-info mx-3 mx-auto mt-5 fs-4" (click)="openModal(informationsContent, 'xl')">
      <i class="fas fa-circle-question me-2"></i>
      Informations
    </button>
  </div>
  <div class="d-flex flex-column">
    <app-recommended cl></app-recommended>
    <div class="d-flex justify-content-around my-4">
      <div class="form-check form-switch">
        <h4>Personnaliser l'affichage de l'inventaire :</h4>
        <select class="form-select w-75" [(ngModel)]="inventoryDisplay">
          <option selected value="table">Sous forme de tableau visuel</option>
          <option value="list">Sous forme de simple liste</option>
        </select>
      </div>
      <input name="searchInp" [(ngModel)]="searchInp" (ngModelChange)="applySearch(searchInp)" (keyup)="onKeyup($event)"
        class="form-control w-25 ms-2 my-auto me-2" type="search" placeholder="Rechercher ...">
    </div>

    <h2 class="mt-5">Inventaire</h2>
    <div *ngIf="loading; else loadedBlock">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        style="margin: auto; background: rgba(241, 242, 243, 0); display: block;" width="200px" height="200px"
        viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <path d="M20 25L80 25L80 75L20 75Z" fill="#efd58f" stroke="#917d6a" stroke-width="3"></path>
        <path d="M50 25L80 25L80 75L50 75" fill="#efd58f" stroke="#917d6a" stroke-width="3" stroke-linejoin="round"
          stroke-linecap="round">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" begin="0s" keyTimes="0;0.5;0.501;1"
            values="M50 25L80 25L80 75L50 75;M50 25L50 20L50 80L50 75;M50 25L80 25L80 75L50 75;M50 25L80 25L80 75L50 75">
          </animate>
          <animate attributeName="opacity" dur="1s" repeatCount="indefinite" begin="0s" keyTimes="0;0.5;0.5001;1"
            values="1;1;0;0"></animate>
        </path>
        <path d="M50 25L80 25L80 75L50 75" fill="#efd58f" stroke="#917d6a" stroke-width="3" stroke-linejoin="round"
          stroke-linecap="round">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" begin="-0.166s" keyTimes="0;0.5;0.501;1"
            values="M50 25L80 25L80 75L50 75;M50 25L50 20L50 80L50 75;M50 25L80 25L80 75L50 75;M50 25L80 25L80 75L50 75">
          </animate>
          <animate attributeName="opacity" dur="1s" repeatCount="indefinite" begin="-0.166s" keyTimes="0;0.5;0.5001;1"
            values="1;1;0;0"></animate>
        </path>
        <path d="M50 25L80 25L80 75L50 75" fill="#efd58f" stroke="#917d6a" stroke-width="3" stroke-linejoin="round"
          stroke-linecap="round">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" begin="-0.33s" keyTimes="0;0.5;0.501;1"
            values="M50 25L80 25L80 75L50 75;M50 25L50 20L50 80L50 75;M50 25L80 25L80 75L50 75;M50 25L80 25L80 75L50 75">
          </animate>
          <animate attributeName="opacity" dur="1s" repeatCount="indefinite" begin="-0.33s" keyTimes="0;0.5;0.5001;1"
            values="1;1;0;0"></animate>
        </path>
        <path d="M50 25L80 25L80 75L50 75" fill="#efd58f" stroke="#917d6a" stroke-width="3" stroke-linejoin="round"
          stroke-linecap="round">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" begin="-0.33s" keyTimes="0;0.499;0.5;1"
            values="M50 25L20 25L20 75L50 75;M50 25L20 25L20 75L50 75;M50 25L50 20L50 80L50 75;M50 25L20 25L20 75L50 75">
          </animate>
          <animate attributeName="opacity" dur="1s" repeatCount="indefinite" begin="-0.33s" keyTimes="0;0.4999;0.5;1"
            values="0;0;1;1"></animate>
        </path>
        <path d="M50 25L80 25L80 75L50 75" fill="#efd58f" stroke="#917d6a" stroke-width="3" stroke-linejoin="round"
          stroke-linecap="round">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" begin="-0.166s" keyTimes="0;0.499;0.5;1"
            values="M50 25L20 25L20 75L50 75;M50 25L20 25L20 75L50 75;M50 25L50 20L50 80L50 75;M50 25L20 25L20 75L50 75">
          </animate>
          <animate attributeName="opacity" dur="1s" repeatCount="indefinite" begin="-0.166s" keyTimes="0;0.4999;0.5;1"
            values="0;0;1;1"></animate>
        </path>
        <path d="M50 25L80 25L80 75L50 75" fill="#efd58f" stroke="#917d6a" stroke-width="3" stroke-linejoin="round"
          stroke-linecap="round">
          <animate attributeName="d" dur="1s" repeatCount="indefinite" begin="0s" keyTimes="0;0.499;0.5;1"
            values="M50 25L20 25L20 75L50 75;M50 25L20 25L20 75L50 75;M50 25L50 20L50 80L50 75;M50 25L20 25L20 75L50 75">
          </animate>
          <animate attributeName="opacity" dur="1s" repeatCount="indefinite" begin="0s" keyTimes="0;0.4999;0.5;1"
            values="0;0;1;1"></animate>
        </path>
      </svg>
    </div>
    <ng-template #loadedBlock>
      <div class="shadow-lg rounded-2" *ngIf="displayedBooks.length > 0; else emptyBlock"
        [ngSwitch]="inventoryDisplay">
        <div *ngSwitchCase="'table'">
          <div class="row row-cols-2 g-1">
            <a *ngFor="let book of displayedBooks" [routerLink]="['/detailLivre', book.idBook]">
              <div class="card h-100">
                <div class="row g-0">
                  <div class="col-4">
                    <img src={{getBookCover(book.idBook)}} class="img-fluid img-thumbnail m-1" alt="{{book.title}}"
                      title="{{book.title}}" onerror="this.src='assets/images/default-book.png'">
                    <div class="d-flex justify-content-center align-items-center mt-3">
                      <h5>
                        Publication :<br>
                        {{book.publishedDate | date:'yyyy-MM-dd'}}
                      </h5>
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <h2 class="card-title">{{book.title | titlecase}}</h2>
                      </div>
                      <p class="mb-3">
                        <span class="fs-5 fw-bold me-3">{{book.genre.name | titlecase}}</span>
                        {{(book.author.firstName | titlecase) + ' ' + (book.author.lastName | titlecase)}}
                      </p>
                      <span class="card-text"><small>{{book.description}}</small></span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-around mt-3">
                    <div class="text-danger fs-2">
                      <i class="fas fa-heart" *ngIf="isFavorite(book.idBook); else notFavoriteBlock"></i>
                      <ng-template #notFavoriteBlock>
                        <i class="far fa-heart"></i>
                      </ng-template>
                      - {{getNumberOfFavorites(book.idBook)}}
                    </div>
                    <div [ngSwitch]="book.status.status">
                      <div *ngSwitchCase="'Disponible'" class="border border-2 bg-info rounded-3 p-2 text-center">
                        {{book.status.status}}</div>
                      <div *ngSwitchCase="'Emprunté'" class="border border-2 bg-transparent rounded-3 p-2 text-center">
                        {{book.status.status}}</div>
                      <div *ngSwitchCase="'Réservé'" class="border border-2 bg-warning rounded-3 p-2 text-center">
                        {{book.status.status}}</div>
                      <div *ngSwitchCase="'Perdu'" class="border border-2 bg-secondary rounded-3 p-2 text-center">
                        {{book.status.status}}</div>
                      <div *ngSwitchCase="'Supprimé'" class="border border-2 bg-danger rounded-3 p-2 text-center">
                        {{book.status.status}}</div>
                    </div>
                  </div>
                </div>
                <div class="text-center py-3">
                  Date d'ajout :<br>
                  {{book.addedDate}}
                </div>
              </div>
            </a>
          </div>
        </div>
        <div *ngSwitchCase="'list'">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Titre</th>
                <th scope="col">Genre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Langue d'origine</th>
                <th scope="col">Année de parution</th>
                <th scope="col">Statut</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of displayedBooks" [ngClass]="updateDisplay(book.status)">
                <td>#{{book.isbn}}</td>
                <td>{{book.title}}</td>
                <td class="fs-5 fw-bold me-3">{{book.genre.name | titlecase}}</td>
                <td>{{(book.author.firstName | titlecase) + ' ' + (book.author.lastName | titlecase)}}</td>
                <td>{{book.originalLanguage}}</td>
                <td>{{book.publishedDate | date:'yyyy'}}</td>
                <td>{{book.status.status}}</td>
                <td>
                  <a [routerLink]="['/detailLivre', book.idBook]">
                    <i class="fas fa-circle-info text-light fs-4 m-2"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #emptyBlock>
        <h1 class="mt-5 text-center fst-italic fw-bolder">Aucun résultat.</h1>
      </ng-template>
    </ng-template>
  </div>
  <!-- TODO: Ask Vincent if this line is necessary -->
  <a class="d-none" [routerLink]="['/recommended']">recommended</a>
</div>

<!-- orders modal -->
<ng-template #ordersContent let-modal>
  <div class="modal-body">
    <h4 class="text-center">Appliquer un ordre de tri</h4>
    <hr>
    <div class="d-flex justify-content-around my-3">
      <div class="dropdown">
        <label class="form-label">Ordre</label>
        <select class="form-select" [(ngModel)]="sortOrder" (ngModelChange)="sortInventory()">
          <option value="ascending">Croissant</option>
          <option value="descending">Décroissant</option>
        </select>
      </div>
      <div class="dropdown">
        <label class="form-label">Trier par</label>
        <select class="form-select" [(ngModel)]="sortProperty" (ngModelChange)="sortInventory()">
          <option value="date">Date</option>
          <option value="title">Titre</option>
          <option value="author">Nom d'auteur</option>
          <option value="favorite">Nombre de favoris</option>
        </select>
      </div>
      <button class="btn p-3 fs-3" (click)="modal.dismiss()">
        <div [ngSwitch]="sortOrder">
          <div *ngSwitchCase="'descending'">
            <i class="fas fa-arrow-down-short-wide"></i>
          </div>
          <div *ngSwitchCase="'ascending'">
            <i class="fas fa-arrow-up-wide-short"></i>
          </div>
        </div>
      </button>
    </div>
  </div>
</ng-template>

<!-- Informations content modal -->
<ng-template #informationsContent let-modal>
  <div class="modal-body d-flex flex-column">
    <div class="d-flex flex-column align-items-center border-5 border-bottom border-secondary rounded-bottom-5 m-2 p-3">
      <h2>Ordre :</h2>
      <p>Vous pouvez modifier l'ordre des livres dans l'affichage en appuyant sur le bouton :
      </p>
      <span class="fw-bold text-success">Trier l'affichage<i class="fas fa-sort ms-1"></i></span>
    </div>
    <div class="d-flex flex-column align-items-center border-5 border-bottom border-secondary rounded-bottom-5 m-2 p-3">
      <h2>Filtres :</h2>
      <p>Vous pouvez affiner l'affichage des livres en sélectionnant un (ou plusieurs) filtre en filtrant :
      </p>
      <span><span class="fw-bold text-info">Par genre</span>, <span class="fw-bold text-info">Par auteur</span> ou <span
          class="fw-bold text-info">Par statut</span></span>
    </div>
    <div class="d-flex flex-column align-items-center border-5 border-bottom border-secondary rounded-bottom-5 m-2 p-3">
      <h2>Modifier l'affichage :</h2>
      <p>Vous pouvez personnaliser l'affichage des livres en sélectionnant le mode voulu dans la liste déroulante :
      </p>
      <div class="d-flex align-items-center">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img class="placeholder col-12" height="175">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titre</h5>
                <p class="card-text">Description du livre... Description du livre... Description du livre... Description
                  du livre... Description du livre...</p>
              </div>
            </div>
          </div>
        </div>
        <span class="mx-3">ou</span>
        <div class="border border-3 border-dark-subtle rounded-2 p-1">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">...</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Blablabla</td>
                <td>blablabla</td>
                <td>...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center border-5 border-bottom border-secondary rounded-bottom-5 m-2 p-3">
      <h2>Recherche :</h2>
      <p>Vous pouvez accélérer votre recherche en entrant le titre du livre souhaité dans la barre de recherche.</p>
    </div>
    <div class="d-flex flex-column align-items-center border-5 border-bottom border-secondary rounded-bottom-5 m-2 p-3">
      <h2>Recommendation :</h2>
      <p>Vous pouvez retrouver des suggestions de livres selon vos intérêts.</p>
    </div>
    <div class="d-flex flex-column align-items-center border-5 border-bottom border-secondary rounded-bottom-5 m-2 p-3">
      <h2>Inventaire :</h2>
      <p>Vous pouvez appuyer sur un livre pour voir plus de détail sur celui-ci.</p>
    </div>
    <div class="d-flex flex-column align-items-center border-5 border-bottom border-secondary rounded-bottom-5 m-2 p-3">
      <h2>Statut :</h2>
      <p>Un livre en inventaire est un des deux statuts ci-dessous :</p>
      <div class="d-flex">
        <div class="d-flex flex-column align-items-center">
          <div class="border border-2 bg-info rounded-3 p-2 text-center">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <span class="ms-2">(Est <span class="h5 fw-bold">disponible</span>)</span>
        </div>
        <div class="d-flex flex-column align-items-center ms-3">
          <div class="border border-2 bg-light rounded-3 p-2 text-center">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <span class="ms-2">(Est <span class="h5 fw-bold">emprunté</span>)</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>