<section class="admin-container bg-body">

  <section class="section">
    <article class="article">
      <form>

        <h5 style="text-align: center;">Créer une réservation</h5>

        <!-- <section class="row" style="padding: 1em;">
          <article class="col-lg-6">
            <input name="bookSearchField" [(ngModel)]="bookSearchField" class="form-control" type="search"
              placeholder="Titre du livre" autocomplete="off" aria-label="Search" (ngModelChange)="searchBooks()">
            <div class="resultsBox">
              <div *ngFor="let book of foundBooks" class="result">
                <button type="button" class="result-button" (click)="selectBook(book)">{{book.title}}</button>
              </div>
            </div>

            <div style="margin-top: 1em;">
              <span>Livre sélectionné:</span>
              <div *ngFor="let book of selectedBooks" style="display: flex;">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <button class="btn btn-danger" style="height: min-content;"
                          (click)="removeSelectedBook(book)">x</button>
                      </td>
                      <td>
                        <label>{{book.title}}</label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </article>

          <article class="col-lg-6">
            <input name="userSearchField" [(ngModel)]="userSearchField" class="form-control" type="search"
              placeholder="Numéro de membre" autocomplete="off" aria-label="Search" (ngModelChange)="searchUsers()">
            <div class="resultsBox">
              <div *ngFor="let user of foundUsers" class="result">
                <button type="button" class="result-button" (click)="selectUser(user)">
                  {{user.memberNumber}} {{user.firstName}} {{user.lastName}}
                </button>
              </div>
            </div>

            <div style="margin-top: 1em;">
              <span>membre sélectionné:</span>
              <label>{{selectedUser.memberNumber}} {{selectedUser.firstName}} {{selectedUser.lastName}}</label>
            </div>
          </article>
        </section> -->

        <section style="padding: 1em;">

          <!-- Sélection du livre -->
          <article style="margin-bottom: 1em;">
            <input name="bookSearchField" [(ngModel)]="bookSearchField" class="form-control" type="search"
              placeholder="Titre du livre" autocomplete="off" aria-label="Search" (ngModelChange)="searchBooks()">
            <div class="resultsBox">
              <div *ngFor="let book of foundBooks" class="result">
                <button type="button" class="result-button" (click)="selectBook(book)">{{book.title}}</button>
              </div>
            </div>
          </article>

          <!-- Sélection du membre -->
          <article style="margin-bottom: 1em;">
            <input name="userSearchField" [(ngModel)]="userSearchField" class="form-control" type="search"
              placeholder="Numéro de membre" autocomplete="off" aria-label="Search" (ngModelChange)="searchUsers()">
            <div class="resultsBox">
              <div *ngFor="let user of foundUsers" class="result">
                <button type="button" class="result-button" (click)="selectUser(user)">
                  {{user.memberNumber}} {{user.firstName}} {{user.lastName}}
                </button>
              </div>
            </div>
          </article>

          <section style="padding: 1em; border: 1px solid lightgrey; border-radius: 6px;">
            <!-- Livre(s) sélectionné(s) -->
            <article style="margin-bottom: 1em;">
              <span>Livre(s) sélectionné(s):</span>
              <div *ngFor="let book of selectedBooks" style="display: flex;">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <button class="btn btn-danger" style="height: min-content; aspect-ratio : 1 / 1; padding: 4px;"
                          (click)="removeSelectedBook(book)" title="Retirer « {{book.title}} »">
                          <i class="fa-regular fa-circle-xmark fa-xl"></i>
                        </button>
                      </td>
                      <td>
                        <label style="margin-left: 8px;">{{book.title}}</label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <span *ngIf="bookError" class="error-message">
                <br>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Aucun livre sélectionné
              </span>
            </article>

            <!-- Membre sélectionné -->
            <article>
              <span>membre sélectionné:</span>
              <label>{{selectedUser.memberNumber}} {{selectedUser.firstName}} {{selectedUser.lastName}}</label>
              <span *ngIf="userError" class="error-message">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Aucun membre sélectionné
              </span>
            </article>
          </section>
        </section>


        <button class="btn-save" (click)="openConfirmCreateBorrow(modalConfirmCreateBorrow)">
          Enregistrer
        </button>
        <!-- <button type="submit">Enregistrer</button> -->
        <br>
        <a [routerLink]="['/adminReservations']">
          <button class="button-cancel" (click)="changeTab('reservations')">Annuler</button>
        </a>
      </form>
    </article>


    <!-- Modal pour confirmation de retour d'un emprunt -->
    <ng-template #modalConfirmCreateBorrow let-modal>

      <div class="container row mx-auto p-5">
        <h4 style="text-align: center; margin-bottom: 1em;">Voulez-vous créer la réservation?</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Id livre</th>
              <th>Titre</th>
              <th>N° membre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of selectedBooks">
              <td>{{book.idBook}}</td>
              <td>{{book.title}}</td>
              <td>{{selectedUser.memberNumber}}</td>
            </tr>
          </tbody>
        </table>


        <div style="display: flex; justify-content: space-evenly;">
          <button class="btn btn-warning" style="width: 100%; max-width: 10em;"
            (click)="onSubmit() + modal.close()">Confirmer</button>
          <button class="btn btn-primary" style="width: 100%; max-width: 10em;" (click)="modal.close()">Annuler</button>
        </div>

      </div>
    </ng-template>

    <div class="d-flex flex-column bg"
      style="position: fixed; z-index: 999; bottom: 0; left: 0; width: 13em; padding-bottom: 1em;">
      <div class="d-flex justify-content-center fs-5" style="color: white;">
        <label>
          <i class="fas fa-sun me-2"></i>
        </label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="colorSwitch"
            (ngModelChange)="changeTheme()">
        </div>
        <label>
          <i class="fas fa-moon"></i>
        </label>
      </div>
    </div>

  </section>
</section>