<nav *ngIf="visible" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.icon-icons.com/icons2/2389/PNG/512/electron_logo_icon_145314.png" class="img-fluid" alt="Electrolib" width="40" height="32">
      Electrolib
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" href="#">Zones clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Zones du personnels</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Réservations
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Créer</a></li>
            <li><a class="dropdown-item" href="#">Modifier</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Supprimer</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex ms-2" role="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher ..." aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Chercher</button>
      </form>
    </div>
  </div>
</nav>