<div *ngIf="visible" class="col-10 master-div">
    <!-- Titre de la page -->
    <h4 style="margin-left: 20px;">
        <i class="fa-solid fa-clock-rotate-left"></i>
        Historique de mes emprunts
    </h4>
    <hr>

    <!-- Div contenant le select pour trier la table -->
    <div  style="float: right;">
        <label>Trier par: </label>
        <select class="select-style" (change)="orderBySelect($event)">
            <option value="borrowedDate" selected>Id / Date d'emprunt</option>
            <option value="title">Titre du livre</option>
            <option value="dueDate" >Date retour / Status / Frais</option>
        </select>
        <select class="select-style" (change)="orderWayBySelect($event)" style="width: 100px;">
            <option value="ASC" selected>Croissant</option>
            <option value="DESC">Décroissant</option>
        </select>
    </div>

    <!-- Tableau contenant les emprunts -->
    <table class="table table-bordered shadow-lg table-emprunts">

        <!-- Titre des colonnes de la table -->
        <thead class="table-secondary text-center">
            <tr>
                <th (click)="sortBy('idBorrow')">Id
                    <i *ngIf="desc==false" class="fa-solid fa-sort-up" ngbTooltip="Trié par ordre croissant"></i>
                    <i *ngIf="desc==true" class="fa-solid fa-sort-down" ngbTooltip="Trié par ordre décroissant"></i>
                </th>
                <th (click)="sortBy('title')">Titre du livre
                    <i *ngIf="desc==false" class="fa-solid fa-sort-up" ngbTooltip="Trié par ordre croissant"></i>
                    <i *ngIf="desc==true" class="fa-solid fa-sort-down" ngbTooltip="Trié par ordre décroissant"></i>
                </th>
                <th (click)="sortBy('borrowedDate')">Date de l'emprunt
                    <i *ngIf="desc==false" class="fa-solid fa-sort-up" ngbTooltip="Trié par ordre croissant"></i>
                    <i *ngIf="desc==true" class="fa-solid fa-sort-down" ngbTooltip="Trié par ordre décroissant"></i>
                </th>
                <th (click)="sortBy('dueDate')">Date du retour
                    <i *ngIf="desc==false" class="fa-solid fa-sort-up" ngbTooltip="Trié par ordre croissant"></i>
                    <i *ngIf="desc==true" class="fa-solid fa-sort-down" ngbTooltip="Trié par ordre décroissant"></i>
                </th>
                <th (click)="sortBy('dueDate')">État
                    <i *ngIf="desc==false" class="fa-solid fa-sort-up" ngbTooltip="Trié par ordre croissant"></i>
                    <i *ngIf="desc==true" class="fa-solid fa-sort-down" ngbTooltip="Trié par ordre décroissant"></i>
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <!-- Chaque rangée de la table correspond à 1 emprunt -->
        <tbody class="text-center">
            <tr *ngFor="let borrow of borrows" [ngClass]="
            {
               'status-returned' : borrow.determineStatus() == 'green',
               'status-lost' : borrow.determineStatus() == 'En retard'
            }">

                <!-- Reste des informations -->
                <td scope="row" class="td-thick" style="font-weight: 700;">{{borrow.idBorrow}}</td>
                <td>{{borrow.book.title}}</td>
                <td>{{borrow.borrowedDate}}</td>
                <td>{{borrow.returnedDate}}</td>
                <td *ngIf="borrow.determineStatus() != 'En retard'" class="td-thick" style="font-weight: 700;">Remis</td>
                <td *ngIf="borrow.determineStatus() == 'En retard'" class="td-thick" style="font-weight: 700; color: rgb(68,80,152);">Volé</td>


                <!-- Bouton Détails -->
                <td>
                    <a><i class="fa-regular fa-file-lines col-6 icone-petite i-active" ngbTooltip="Plus de détails"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Bouton en bas de la page -->
    <div>
        <button (click)="returnBorrows()" type="button" class="btn btn-secondary" style="float:right;">Retourner aux emprunts</button>
        <br>
    </div>
</div>