<div class="bg-body" style="background-color: rgba(0, 0, 0, 0.068); min-height: 850px;">
    <!-- Titre de la page -->
    <div class="title-bar">
        <div>
            <h4 style="margin-left: 20px;">
                <i class="fa-solid fa-book-open" style="color: #947ad1;"></i>&nbsp;&nbsp;
                <span class="titres-emprunts">Historique de mes Emprunts</span>
            </h4>
        </div>
    </div>

    <!-- Localisation sur la page -->
    <div class="location-bar">
        <i class="fa-regular fa-circle-dot fa-fade" style="color: #198754; margin-right: 10px;"></i>
        <span class="location-page-link sous-titres-emprunts" [routerLink]="['../borrows']">emprunts</span>
        >
        <span class="location-page-link sous-titres-emprunts">historique</span>
        {{window}}
    </div>

    <!-- Boutons pour transitionner à l'historique des réservations -->
    <div style="text-align: center; margin-top: 20px;">
        <button [routerLink]="['../borrows']" type="button" class="btn btn-warning border-btn label-emprunts">
            <i class="fa-regular fa-clock"></i>&nbsp;
            Emprunts courants
        </button>
    </div>

    <!-- Séparateur -->
    <div style="height: 0; border-bottom: 8px double; margin-top: 15px; margin-bottom: -5px; margin-left: 10px;"
        [ngClass]="
        {
           'hr-light' : theme == '',
           'hr-dark' : theme == 'dark',
        }">
    </div>

    <div class="table-div" [ngClass]="
    {
       'table-div' : theme == '',
       'table-div-dark' : theme == 'dark',
    }">

        <!-- Div contenant le select pour trier la table -->
        <div class="row" style="margin-bottom: -25px;">
            <div *ngIf="user" class="col-6 label-emprunts">
                <i class="fa-regular fa-user"></i>&nbsp;
                Historique de
                <span [routerLink]="['../profile']"
                    style="text-decoration: underline; font-weight: 600; cursor: pointer;"
                    class="label-emprunts">{{user.firstName}}</span>
            </div>
            <div style="float: right; text-align: right;" class="col-6">
                <label class="label-emprunts">Trier par: </label>
                <select class="select-style label-emprunts" (change)="orderBySelect($event)"
                    style="width: 220px; text-align: center;">
                    <option value="borrowedDate" selected>Id / Date d'emprunt</option>
                    <option value="title">Titre du livre</option>
                    <option value="dueDate">Date retour / Statut / Frais</option>
                </select>
                &nbsp;&nbsp;
                <label class="label-emprunts">Ordre: </label>
                <select class="select-style label-emprunts" (change)="orderWayBySelect($event)"
                    style="width: 130px; text-align: center;">
                    <option value="ASC" selected>Croissant</option>
                    <option value="DESC">Décroissant</option>
                </select>
            </div>
        </div>

        <!-- Tableau contenant les emprunts -->
        <table class="table table-bordered shadow-sm table-emprunts">

            <!-- Titre des colonnes de la table -->
            <thead class="table-secondary text-center">
                <tr>
                    <th (click)="sortBy('idBorrow')">Id
                        <i *ngIf="desc==false" class="fa-solid fa-sort-up" ngbTooltip="Trié par ordre croissant"></i>
                        <i *ngIf="desc==true" class="fa-solid fa-sort-down" ngbTooltip="Trié par ordre décroissant"></i>
                    </th>
                    <th (click)="sortBy('title')">Titre du livre
                        <i *ngIf="desc==false" class="fa-solid fa-sort-up" ngbTooltip="Trié par ordre croissant"></i>
                        <i *ngIf="desc==true" class="fa-solid fa-sort-down" ngbTooltip="Trié par ordre décroissant"></i>
                    </th>
                    <th (click)="sortBy('borrowedDate')">Date d'emprunt
                        <i *ngIf="desc==false" class="fa-solid fa-sort-up" ngbTooltip="Trié par ordre croissant"></i>
                        <i *ngIf="desc==true" class="fa-solid fa-sort-down" ngbTooltip="Trié par ordre décroissant"></i>
                    </th>
                    <th (click)="sortBy('dueDate')">Date de retour / perte
                        <i *ngIf="desc==false" class="fa-solid fa-sort-up" ngbTooltip="Trié par ordre croissant"></i>
                        <i *ngIf="desc==true" class="fa-solid fa-sort-down" ngbTooltip="Trié par ordre décroissant"></i>
                    </th>
                    <th (click)="sortBy('dueDate')">État
                        <i *ngIf="desc==false" class="fa-solid fa-sort-up" ngbTooltip="Trié par ordre croissant"></i>
                        <i *ngIf="desc==true" class="fa-solid fa-sort-down" ngbTooltip="Trié par ordre décroissant"></i>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <!-- Chaque rangée de la table correspond à 1 emprunt -->
            <tbody class="text-center">
                <tr *ngFor="let borrow of borrows" [ngClass]="
            {
               'status-returned' : (borrow.returnedDate) <= (borrow.dueDate),
               'status-lost' : (borrow.returnedDate) >= (borrow.dueDate)
            }">

                    <!-- Reste des informations -->
                    <td scope="row" class="td-thick" style="font-weight: 700;" style="color: black;">{{borrow.idBorrow}}
                    </td>
                    <td style="color: black;">{{borrow.book.title}}</td>
                    <td style="color: black;">{{borrow.borrowedDate}}</td>
                    <td style="color: black;">{{borrow.returnedDate}}</td>
                    <td *ngIf="(borrow.returnedDate) <= (borrow.dueDate)" class="td-thick" style="font-weight: 700;">Remis
                    </td>
                    <td *ngIf="(borrow.returnedDate) >= (borrow.dueDate)" class="td-thick"
                        style="font-weight: 700; color: rgb(68,80,152);">Remis en retard</td>


                    <!-- Bouton Détails -->
                    <td>
                        <a><i class="fa-regular fa-file-lines col-6 icone-petite i-active"
                                style="color:#1f3151; font-size: 22px;"
                                (click)="openBorrowModal(infoReservationModal, borrow)"
                                ngbTooltip="Plus de détails"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Bouton en bas de la page -->
        <div class="div-btns" style="justify-content:space-between; display: flex;">
            <button (click)="openAbout(about)" data-toggle="modal" type="button"
                class="btn btn-primary border-btn label-emprunts">À propos des
                emprunts passés
            </button>
            <button [routerLink]="['../borrows']" type="button" class="btn btn-secondary border-btn label-emprunts"
                style="float:right;">
                Retourner aux emprunts
            </button>
        </div>
    </div>

    <div class="d-flex logo">
        <i class="fas fa-book-bookmark mt-1 fs-1"></i>
        <h1>Electrolib</h1>
    </div>
</div>

<!-- Modal pour le à propos -->
<ng-template #about let-modal>
    <div class="modal-header modal-lg">
        <h4 class="modal-title" id="modal-basic-title">À Propos</h4>
    </div>

    <!-- Info importantes sur le fonctionnement des reservations etc. -->
    <div class="modal-body">
        <h5>Informations sur vos emprunts passés</h5>
        <hr>
        <!-- Div pour les modalités -->
        <div class="divAbout" ngbAutoFocus>
            <label class="sous-titre" [ngClass]="
          {
             'sous-titre' : theme == '',
             'sous-titre-dark' : theme == 'dark',
          }">Modalités:</label>
            <br>
            <label style="font-weight: 600;">Historique:</label>
            <span>
                Cette liste affiche vos emprunts passés, ils sont inactifs, mais vous pouvez tout de même les revisiter
            </span>
            <br>
            <label class="mt-2" style="font-weight: 600;">Détails:</label>
            <span>
                Vous pouvez afficher les détails du livre correspondant à votre emprunt
            </span>
        </div>
        <br>

        <!-- Informations pour le code couleur -->
        <div class="divAbout">
            <label class="sous-titre" [ngClass]="
          {
             'sous-titre' : theme == '',
             'sous-titre-dark' : theme == 'dark',
          }">Code de couleur:</label>
          <br>
          <label class="mt-2" style="font-weight: 600;">Blanc:</label>
          <span> lorsque votre emprunt a été remis, celui-ci apparait en
                 <span style="color: #3052c2;"> blanc</span>.
          </span>
          <br>
          <label class="mt-2" style="color: rgba(68, 81, 152, 0.685); font-weight: 600;">Mauve:</label>
          <span> 
                 Lorsque vous avez remis le livre en retard, l'emprunt apparait en
                 <span style="color: rgba(68, 81, 152, 0.685);">mauve</span>.
          </span>
      </div>
    </div>

    <!-- Bouton pour fermer la modal -->
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Fermer</button>
    </div>
</ng-template>

<!-- Modal pour les infos du livre d'un emprunt -->
<ng-template #infoReservationModal let-modal>
    <div class="modal-header modal-lg" >
      <h4 class="modal-title" id="modal-basic-title">Informations du livre</h4> 
      <span *ngIf="(selectedBorrow.returnedDate) < (selectedBorrow.dueDate)" class="thick handed">(Remis)</span>
      <span *ngIf="(selectedBorrow.returnedDate) >= (selectedBorrow.dueDate)" class="thick stolen">(Remis en retard)</span>
    </div>

    <!--  -->
    <div class="modal-body row">
        <div class="col-4 div-img" [ngClass]="
      {
         'div-img' : theme == '',
         'div-img-dark' : theme == 'dark',
      }">
            <img class="image-livre" src="{{getBookCover(selectedBorrow.book.idBook)}}"
                default="../assets/images/books/1.png" style="margin-top:20px">
        </div>
        <div class="col-8" [ngClass]="
      {
         'divHanded' : selectedBorrow.determineStatus() != 'En retard',
         'divStolen' : selectedBorrow.determineStatus() == 'En retard',
         'divModal' : theme == '',
         'divModal-dark' : theme == 'dark',
      }">
            <label class="thick">Titre:&nbsp;</label>
            <span>{{selectedBorrow.book.title}}</span>
            <br>
            <label class="thick">Langue d'origine:&nbsp;</label>
            <span>{{selectedBorrow.book.originalLanguage}}</span>
            <br>
            <label class="thick">Date de publication:&nbsp;</label>
            <span>{{selectedBorrow.book.publishedDate}}</span>
            <br>
            <label class="thick">isbn:&nbsp;</label>
            <span>{{selectedBorrow.book.isbn}}</span>
            <br>
            <label class="thick">Description:&nbsp;</label>
            <span style="display:block; word-break: break-all;">
                {{selectedBorrow.book.description}}
            </span>
        </div>
    </div>

    <!-- Bouton pour fermer la modal -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Annuler</button>
    </div>
</ng-template>