<div *ngIf="visible" class="col-10 master-div">
    <div style="margin-bottom: 20px; margin-top: -40px;">
        <a (click)="borrows()"><span>Mes Emprunts</span></a>&nbsp; <i class="fa-solid fa-angle-right fa-sm"></i> &nbsp;<a><span style="cursor: default;">Détails de l'emprunt</span></a>
    </div>
    <!-- Titre de la page -->
    <h4>Détails de l'emprunt</h4>
    <hr>

    <div class="shadow-lg row border rounded-top div-details">

        <h5 style="margin-left: 20px; margin-bottom: 20px;">Emprunt #{{borrow.idBorrow}}</h5>
        <!-- Informations concernant le livre -->
        <div class="col-6 row div-livre">
            <!-- Image du livre -->
            <div class="col-4">
                <img class="image-livre" src="../assets/images/books/1.png">
            </div>
            <!-- Infos du livre -->
            <div class="col-6 div-info-emprunt" >
                <label>Nom du livre:&nbsp;</label>
                <span>{{book.title}}</span>
                <br>
                <label>Numéro d'exemplaire:&nbsp;</label>
                <span>(Pas encore imlémenté)</span>
                <br>
                <label>Auteur du livre:&nbsp;</label>
                <span>{{book.author.firstName}} {{book.author.lastName}}</span>
                <br>
                <label>Genre du Livre:&nbsp;</label>
                <span>{{book.genre.name}}</span>
                <br>
                <label>Language:&nbsp;</label>
                <span>{{book.originalLanguage}}</span>
                <br>
                <label>Année de publication:&nbsp;</label>
                <span>{{borrow.book.publishedDate}}</span>
                <hr>
            </div>
        </div>

        <!-- Information concernant l'emprunt -->
        <div class="col-4 div-info-commande" style="margin-left: 20px;"> 
            <label>Date de l'emprunt:&nbsp;</label>
            <span>{{borrow.borrowedDate}}</span>
            <br>
            <label>Date limite de retour:&nbsp;</label>
            <span>{{borrow.formattedDueDate()}}</span>
            <br>
            <label *ngIf="borrow.determineStatus() != 'En retard'">Nombre de jours restants:&nbsp;</label>
            <label *ngIf="borrow.determineStatus() == 'En retard'">Nombre de jours de retard:&nbsp;</label>
            <span *ngIf="borrow.transformTimeAndLate() > 1">{{borrow.transformTimeAndLate()}} jours</span>
            <span *ngIf="borrow.transformTimeAndLate() <= 1">{{borrow.transformTimeAndLate()}} jour</span>
            <br>
            <label>Nombre de renouvellement fait:&nbsp;</label>
            <span>test</span>
            <br>
            <label>Status:&nbsp;</label>
            <span [ngClass]="
            {
               'status-not-urgent' : borrow.determineStatus() == 'green',
               'status-semi-urgent' : borrow.determineStatus() == 'yellow',
               'status-urgent' : borrow.determineStatus() == 'orange',
               'status-late' : borrow.determineStatus() == 'En retard'
            }">{{borrow.determineStatus()}}</span>
            <br>
            <label>Frais de retard:&nbsp;</label>
            <span *ngIf="borrow.calculateFee() != null" style="color: green; font-weight: 600; text-decoration: underline">{{borrow.calculateFee()}}$</span>
            <span *ngIf="borrow.calculateFee() == null">0</span>
            <hr>
        </div>

        <!-- Boutons situés en bas de la page -->
        <div class="div-btns">
                <button class="btn-details btn btn-danger border" [disabled]="borrow.calculateFee() == null">Payer les frais</button>
                <button class="btn-details btn btn-warning border" [disabled]="borrow.calculateFee() != null">Remettre l'emprunt</button>
            <div style="float: right; width: auto;">
                <button (click)="borrows()" class="btn-details btn btn-secondary border">Retourner aux emprunts</button></div>
            </div>
        </div>
</div>
