

.logo
{
    margin-top: 50px;
    justify-content: center;
}

.title-bar
{
    background-color: rgb(53, 53, 53);
    color: white;
    margin-top: 9px;
    padding: 20px;
    padding-bottom: 10px;
    border-left: 3px solid rgb(148, 148, 148);
}

.location-bar
{
    background-color: rgb(223, 223, 223);
    color: rgb(53, 53, 53);
    padding: 5px;
    border-bottom: 3px solid rgb(148, 148, 148);
    border-left: 3px solid rgb(148, 148, 148);
    border-bottom-left-radius: 10px;
}

.borrow-div
{
    margin-top: 20px;
    padding: 12px; 
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(78, 92, 131, 0.596);
    margin-bottom: -15px;
    border-right: 0;
    border-top-left-radius: 10px;
}

.borrow-div-dark
{
    margin-top: 20px;
    padding: 12px; 
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(40,44,47);
    border: 2px solid rgba(78, 92, 131, 0.596);
    margin-bottom: -15px;
    border-right: 0;
    border-top-left-radius: 10px;
}

.div-icones
{
    font-size: 24px;
    width:max-content;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    border-bottom: 4px solid rgba(34, 34, 78, 0.548);
    border-radius: 10px;
}

.div-icones-dark
{
    font-size: 24px;
    width:max-content;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    border-bottom: 4px solid rgb(76, 76, 161);
    border-radius: 10px;
}

.titre-div
{
    margin-left: 20px; 
    margin-bottom: 20px; 
    border-bottom: 3px rgba(0, 0, 0, 0.185) solid; 
    border-bottom-left-radius:10px; 
    padding-bottom: 10px;
}

.titre-div-dark
{
    margin-left: 20px; 
    margin-bottom: 20px; 
    border-bottom: 3px rgba(255, 255, 255, 0.322) solid; 
    border-bottom-left-radius:10px; 
    padding-bottom: 10px;
}

.btn-div
{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(78, 92, 131, 0.596);
    padding: 15px;
    border-right: 0;
}

.border-btn
{
    border: 2px solid rgba(0, 0, 0, 0.247);
}

.master-div
{
    margin: 0 auto;
    margin-top: 60px;
}

.div-details
{
    padding: 20px;
}

.div-livre
{
    text-align: center;
    padding-top: 20px;
    margin-left: 5px;
    margin-right: 20px;

    background-color: rgba(126, 126, 126, 0.089);
    border: 2px solid;
    border-right: 8px solid;
    border-left: 8px solid;
    border-radius: 17px;
    border-color: rgba(109, 109, 109, 0.397);
}

.image-livre
{
    height: 150px;
    width: 150px;
}

.div-image-livre
{
    max-height: 200px;
    max-width: 200px;
    border: 5px rgba(0, 0, 0, 0.452) ridge;
    border-radius: 10px;
    margin-right: 30px;
}

.div-info-emprunt
{
    text-align: left; 
    padding: 20px;
    background-color: rgba(126, 126, 126, 0.089);
    height: fit-content;
    border-radius: 15px;
    border: 3px solid rgba(109, 109, 109, 0.144);
}

.div-info-commande
{
    text-align: left; 
    padding: 20px;
    background-color: rgba(126, 126, 126, 0.072);
    border: 2px solid;
    border-left: 8px solid;
    border-right: 8px solid;
    border-radius: 17px;
    border-color: rgba(109, 109, 109, 0.397);
}

.div-txt-cmd
{
    background-color: rgba(0, 0, 0, 0.075);
    padding: 20px;
    height: fit-content;
    border-radius: 15px;
    border: 3px solid rgba(109, 109, 109, 0.144);
}

.btn-details
{
    width: auto;
    margin-right: 20px;
}

.div-btns
{
    margin-top: 20px;
    padding: 20px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    background-color: rgba(126, 126, 126, 0.247);
    border-radius: 4px;
    border-color: rgba(109, 109, 109, 0.322);
}

.div-info-commande > label
{
    font-weight: 600;
}

.div-info-emprunt > label
{
    font-weight: 600;
}


.status-not-urgent
{
    color: rgb(13, 150, 45);
    font-weight: 600;
}

.status-semi-urgent
{
    color: rgb(194, 174, 22);
    font-weight: 600;
}

.status-urgent
{
    color: rgb(206, 134, 17);
    font-weight: 600;
}

.status-late
{
    color: rgb(189, 18, 18);
    text-decoration: underline;
    font-weight: 600;
}

a > span
{
    text-decoration: underline;
    cursor: pointer;
    color: rgba(57, 93, 134, 0.781);
}

.img-details
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 150px;
    max-height: 150px;
}

.div-image
{
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.247);
    border: 5px rgba(0, 0, 0, 0.452) ridge;
    border-radius: 10px;
    vertical-align: middle;
    max-width: 200px;
    max-height: 200px;
}

.titre-modal-return
{
    font-size: 24px;
    margin-top: 10px; 
    margin-bottom: 15px;
    font-weight: 600;
    text-decoration: underline;
}

.icon-modal-return
{
    font-size: 30px;
}

.hr-light
{
    color:rgba(0, 0, 0, 0.089);
}

.hr-dark
{
    color:rgba(255, 255, 255, 0.089);
}

.div-content-modal
{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: rgb(233, 233, 233);
    border: 2px solid lightgray;
    padding: 10px;
}

.div-feedback-red
{
    color: darkred;
}

.div-feedback-red-dark
{
    background-color: rgb(43,48,53);
    color: rgb(218, 69, 69);
}

.div-feedback-green
{
    color: #029658;
}

.div-feedback-green-dark
{
    background-color: rgb(43,48,53);
    color: rgb(2, 184, 63);
}