<section *ngIf="visible">

    <section style="height: 4em;">

    </section>

    <section class="container-fluid">

        <article style="display: flex;">
            <a [routerLink]="'adminInventory'">
                <div class="logo">
                    <i class="fas fa-book-bookmark mt-1 fs-1"></i>
                    <h1>Electrolib</h1>
                </div>
            </a>
    
            <article class="nav-container">
                <div class="nav-item">
                    <a [routerLink]="['adminInventory']">
                        <button class="btn btn-nav" (click)="displayAdminInventory()">Inventaire</button>
                    </a>
                </div>
                <div class="nav-item">
                    <a [routerLink]="['adminBorrows']">
                        <button class="btn btn-nav">Emprunts</button>
                    </a>
                </div>
                <div class="nav-item">
                    <a [routerLink]="['adminReservations']">
                        <button class="btn btn-nav">Réservations</button>
                    </a>
                </div>
                <div class="nav-item">
                    <a [routerLink]="['adminUsers']">
                        <button class="btn btn-nav">Membres</button>
                    </a>
                </div>
            </article>
        </article>

        

        <button class="btn btn-danger btn-disconnect" (click)="disconnect()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Se déconnecter
        </button>

    </section>
</section>