<section class="admin-container">
    <section style="min-width: fit-content;">

        <!-- Section de la barre de navigation de la page -->
        <article class="section-navbar">
            <article class="row section-row">
                
                <!-- La barre de recherche -->
                <div class="col-lg-5">
                </div>

                <!-- Les listes déroulantes -->
                <div class="col-lg-4">
                </div>

                <!-- Les contrôles de la page -->
                <div class="col-lg-3">
                    <a [routerLink]="['/create-user']">
                        <button class="btn btn-add-book" (click)="changeTab('null')">
                            <i class="fa-solid fa-book" style="margin-right: 4px;"></i>
                            <span>Créer un compte</span>
                        </button>
                    </a>
                </div>

            </article>
        </article>

        <!-- Section de la table des données -->
        <section>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro membre</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Rôle</th>
                        <th>Pénalités en cours</th>
                        <th style="width: 10em;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of displayedUsers">
                        <td>{{user.memberNumber}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{parseRole(user)}}</td>
                        <td>
                            <span class="penalty" *ngIf="user.totalPenalities > 0">{{user.totalPenalities}}$</span>
                        </td>
                        <td>
                            <article style="display: flex;">
                                <a [routerLink]="['/profile']">
                                <button class="btn btn-outline-dark btn-action">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <span class="info-tooltip">Détails</span>
                                </button>
                                </a>
                            </article>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </section>
</section>