<section class="bg-body admin-container">
  <section class="section">
    <article class="article">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Titre:</label>
          <input class="form-control" type="text" name="title" [(ngModel)]="book.title"
            (ngModelChange)="validateTitle()" required />
          <p class="error" *ngIf="errors['title'] != null">{{errors['title']}}</p>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" name="description" [(ngModel)]="book.description"
            (ngModelChange)="validateDescription()" required></textarea>
          <p class="error" *ngIf="errors['description'] != null">{{errors['description']}}</p>
        </div>
        <div class="form-group">
          <label for="isbn">ISBN:</label>
          <input class="form-control" type="number" name="isbn" [(ngModel)]="book.isbn" (ngModelChange)="validateISBN()"
            required />
          <p class="error" *ngIf="errors['isbn'] != null">{{errors['isbn']}}</p>
        </div>
        <div class="form-group">
          <label for="publishedDate">Date de publication:</label>
          <input class="form-control" type="date" name="publishedDate" [(ngModel)]="book.publishedDate"
            (ngModelChange)="validatePublishedDate()" required />
          <p class="error" *ngIf="errors['publishedDate'] != null">{{errors['publishedDate']}}</p>
        </div>
        <div class="form-group">
          <label for="originalLanguage">Langue originale:</label>
          <input class="form-control" type="text" name="originalLanguage" [(ngModel)]="book.originalLanguage"
            (ngModelChange)="validateOriginalLanguage()" required />
          <p class="error" *ngIf="errors['originalLanguage'] != null">{{errors['originalLanguage']}}</p>
        </div>

        <div class="form-group">
          <label for="cover">Couverture:</label>
          <input class="form-control" type="file" name="cover" (change)="onFileSelected($event)" accept="image/*" />
          <p class="error" *ngIf="errors['cover'] != null">{{errors['cover']}}</p>
        </div>

        <div class="form-group">
          <label for="idAuthor">Auteur:</label>
          <select [(ngModel)]="book.idAuthor" name="idAuthor" required>
            <option *ngFor="let author of authors" [value]="author.idAuthor">{{ author.firstName }} {{ author.lastName
              }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="idGenre">Genre:</label>
          <select [(ngModel)]="book.idGenre" name="idGenre" required>
            <option *ngFor="let genre of genres" [value]="genre.idGenre">{{ genre.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="idGenre">Statut:</label>
          <select [(ngModel)]="book.idStatus" name="idStatus" required>
            <option *ngFor="let sta of status" [value]="sta.idStatus">{{ sta.status }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="isRecommended">Recommandation:</label>
          <select [(ngModel)]="book.isRecommended" name="isRecommended" required>
            <option [value]="1">Recommandé</option>
            <option [value]="0">Non recommandé</option>
          </select>
        </div>

        <button type="submit">Enregistrer</button>
      </form>
    </article>

    <div class="d-flex flex-column bg"
      style="position: fixed; z-index: 999; bottom: 0; left: 0; width: 13em; padding-bottom: 1em;">
      <div class="d-flex justify-content-center fs-5" style="color: white;">
        <label>
          <i class="fas fa-sun me-2"></i>
        </label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="colorSwitch"
            (ngModelChange)="changeTheme()">
        </div>
        <label>
          <i class="fas fa-moon"></i>
        </label>
      </div>
    </div>

  </section>
</section>