<section class="section">
    <article class="article">
      <form (ngSubmit)="onSubmit()">
  
        <div class="form-group">
          <label for="title">Titre:</label>
          <input class="form-control" type="text" name="title" [(ngModel)]="book.title" (change)="validateTitle()" required />
          <p class="error" *ngIf="validations['title'] == false">Le titre est invalide.</p>
        </div>
  
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" name="description" [(ngModel)]="book.description" (change)="validateDescription()" required></textarea>
          <p class="error" *ngIf="validations['description'] == false">La description est invalide.</p>
        </div>
  
        <div class="form-group">
          <label for="isbn">ISBN:</label>
          <input class="form-control"type="text" name="isbn" [(ngModel)]="book.isbn" (change)="validateISBN()" required />
          <p class="error" *ngIf="validations['isbn'] == false">L'ISBN est invalide.</p>
        </div>
  
        <div class="form-group">
          <label for="publishedDate">Date de publication:</label>
          <input class="form-control" type="date" name="publishedDate" [(ngModel)]="book.publishedDate" (change)="validatePublishedDate()" required />
          <p class="error" *ngIf="validations['publishedDate'] == false">Vous devez fournir une date de publication.</p>
        </div>
  
        <div class="form-group">
          <label for="originalLanguage">Langue originale:</label>
          <input class="form-control" type="text" name="originalLanguage" [(ngModel)]="book.originalLanguage" (change)="validateOriginalLanguage()" required />
          <p class="error" *ngIf="validations['originalLanguage'] == false">La langue originale est invalide.</p>
        </div>
  
        <div class="form-group">
          <label for="cover">Couverture:</label>
          <input class="form-control" type="file" name="cover" (change)="onFileSelected($event)" accept="image/*" />
          <p class="error" *ngIf="validations['cover'] == false">Seules les images au format PNG sont prises en charge.</p>
          <p class="error" *ngIf="validations['cover'] === undefined">Vous devez fournir une image de couverture.</p>
        </div>
  
        <div class="form-group">
          <label for="idAuthor">Auteur:</label>
          <select [(ngModel)]="book.idAuthor" name="idAuthor" required>
            <option *ngFor="let author of authors" [value]="author.idAuthor">{{ author.firstName }} {{ author.lastName }}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="idGenre">Genre:</label>
          <select [(ngModel)]="book.idGenre" name="idGenre" required>
            <option *ngFor="let genre of genres" [value]="genre.idGenre">{{ genre.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="idGenre">Statut:</label>
          <select [(ngModel)]="book.idStatus" name="idStatus" required>
            <option *ngFor="let sta of status" [value]="sta.idStatus">{{ sta.status }}</option>
          </select>
        </div>
  
        <button type="submit">Enregistrer</button>
      </form>
    </article>
  </section>