<section class="admin-container">
    <section style="min-width: fit-content;">

        <!-- Section de la barre de navigation de la page -->
        <article class="section-navbar">
            <article class="row section-row">
                
                <!-- La barre de recherche -->
                <div class="col-lg-5">
                    <form class="search-form" style="display: flex;" role="search" (ngSubmit)="search()">
                        <input name="searchField" [(ngModel)]="searchField" class="form-control" type="search"
                            placeholder="Rechercher..." aria-label="Search" style="border-top-right-radius: 0;
                            border-bottom-right-radius: 0;">
                        <button class="btn btn-search" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>

                <!-- Les listes déroulantes -->
                <div class="col-lg-4">
                    <div style="display: flex;justify-content: space-evenly; ">
                        <div class="dropdown">
                            <label for="sort-by" class="fit-label">Ordre</label>
                            <select class="form-control combobox" #sortBy name="sort-by"
                                (change)="changeSortBy(sortBy.value); sortBooks()">
                                <option value="ascending">Croissant</option>
                                <option value="descending">Décroissant</option>
                            </select>
                        </div>
                        <div class="dropdown">
                            <label for="search-by" class="fit-label">Trier par</label>
                            <select class="form-control combobox" #searchBy name="search-by"
                                (change)="changeResearchBy(searchBy.value); sortBooks()">
                                <option value="title">Titre</option>
                                <option value="isbn">ISBN</option>
                                <option value="author">Auteur</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Les contrôles de la page -->
                <div class="col-lg-3">
                    <a [routerLink]="['/createBook']">
                        <button class="btn btn-add-book" (click)="changeTab('null')">
                            <i class="fa-solid fa-book" style="margin-right: 4px;"></i>
                            <span>Ajouter un livre</span>
                        </button>
                    </a>
                </div>

            </article>
        </article>

        <!-- Section de la table des données -->
        <section>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th [ngStyle]="{'background-color': searchBy.value == 'title' ? '#31359C' : ''}">Titre</th>
                        <th [ngStyle]="{'background-color': searchBy.value == 'isbn' ? '#31359C' : ''}">ISBN</th>
                        <th [ngStyle]="{'background-color': searchBy.value == 'author' ? '#31359C' : ''}">Auteur</th>
                        <th>Statut</th>
                        <th style="width: 10em;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of displayedBooks">
                        <td>{{book.idBook}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.isbn}}</td>
                        <td>{{book.author.firstName}} {{book.author.lastName}}</td>
                        <td>{{book.status.status}}</td>
                        <td>
                            <article style="display: flex;">
                                <button class="btn btn-outline-dark btn-action">
                                    <i class="fa-solid fa-book-open-reader"></i>
                                    <span class="info-tooltip">Détails</span>
                                </button>
                                <a [routerLink]="['/editBook', book.idBook]">
                                    <button class="btn btn-warning btn-action" (click)="changeTab('null')">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <span class="info-tooltip">Éditer</span>
                                    </button>
                                </a>
                            </article>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </section>
</section>