.btn-action {
    margin: 10px;
    position: relative;
}

.inventory-table {
    background-image: linear-gradient(to bottom right, #efefef, #bcbcbc);
    padding: 2em;
    height: 60vh;
    overflow-y: scroll;
}

.info-tooltip {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.btn-action:hover .info-tooltip {
    opacity: 1;
}

.inventory-navbar {
    display: flex;
    justify-content: space-between;
}

.fit-label {
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
}

.combobox {
    margin-right: 10px;
}