<div style="height: 100%;">
  <!-- La page de connexion -->
    <header>
      <app-navbar #navbar 
        (disconnected)="footer.onDisconnect($event)"></app-navbar>

      <!-- La barre de navigation des admins -->
      <app-admin-navbar #adminNavBar
        (disconnected)="onDisconnect($event)">
      </app-admin-navbar>
    </header>

    <main style="height: 100%;">
      <router-outlet ></router-outlet>
    </main>

    <footer>
      <!-- Le pied de page -->
      <app-footer #footer></app-footer>
    </footer>

</div>

<!-- <a [routerLink]="['detailLivre','1']">test detail-livre</a> -->