<div style="height: 100%;">
    <header>
      <app-navbar #navBar (disconnected)="onDisconnect($event)" (connected)="onConnect($event)"></app-navbar>

      <!-- La barre de navigation des admins -->
      <app-admin-navbar #adminNavBar
      (connected)="adminNavBar.onConnect($event)" (disconnected)="onDisconnect($event)">
      </app-admin-navbar>
    </header>

    <main style="height: 100%;">
      <router-outlet></router-outlet>
    </main>

    <footer>
      <!-- Le pied de page -->
      <app-footer></app-footer>
    </footer>
</div>