<main style="height: 100%; background-image: url('assets/images/login-library.jpg');" class="mx-auto text-center font">
  <section class="main-frame">
    <div *ngIf="connectionVisible" class="connection-frame bg-body-tertiary">
      <h1 class="title">
        <img src="assets/images/logos/applicationIcon.png" class="img-fluid" alt="Logo d'Electrolib" title="Electrolib"
          width="100">
        Electrolib
      </h1>
      <div class="subtitle">
        <div class="title-line element"></div>
        <label class="element" style="width: 13em;">Votre bibliothèque en ligne</label>
        <div class="title-line element"></div>
      </div>
      <section class="login-frame bg-body-secondary">
        <label class="login-title">Connexion</label>
        <article style="width: 80%; margin: auto; margin-bottom: 30px;">
          <label class="form-label fw-bold">Numéro de membre</label>
          <input [(ngModel)]="temporaryUser.memberNumber" name="memberNumber" placeholder="Votre numéro de membre"
            type="text" class="form-control">
          <label class="form-label fw-bold">Mot de passe</label>
          <input [(ngModel)]="temporaryUser.password" name="pwd" placeholder="Votre mot de passe" type="password"
            class="form-control">
        </article>
        <!-- <a href="#">Mot de passe oublié</a> -->
        <div style="display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;">
          <form (ngSubmit)="connect('credentials')" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-unlock-keyhole me-2"></i>
              Se connecter
            </button>
          </form>
        </div>
        <!-- Les boutons pour tricher la connexion -->
        <article style="display: flex; justify-content: space-evenly; margin-top: 10px;">
          <form (ngSubmit)="connect('cheatUser')">
            <button class="btn btn-warning" type="submit">
              Tricher (membre)
            </button>
          </form>
          <form (ngSubmit)="connect('cheatAdmin')">
            <button class="btn btn-warning" type="submit">
              Tricher (admin)
            </button>
          </form>
        </article>
        <!--
          <button class="btn btn-warning" (click)="createAccount()">
            <i class="fas fa-user-plus me-2"></i>
            Se créer un compte
          </button>
          -->
        <div class="subtitle" style="margin-top: 2em;">
          <div class="logo-title-line element"></div>
          <label class="element" style="width: 8em;">Suivez-nous sur</label>
          <div class="logo-title-line element"></div>
        </div>
        <div style="margin-top: 1em;" class="social-logos">
          <div class="social-logo">
            <img src="assets/images/logos/facebook-logo.png" class="logo" alt="">
          </div>
          <div class="social-logo">
            <img src="assets/images/logos/twitter-logo.png" class="logo" alt="">
          </div>
          <div class="social-logo">
            <img src="assets/images/logos/instagram-logo.png" class="logo" alt="">
          </div>
        </div>
      </section>
    </div>
    <!--
    <div *ngIf="createAccountVisible">
      <h4 class="my-5 fs-3 fw-bold">Créer votre compte</h4>
      <form (ngSubmit)="validateCreateAccount()" class="w-75 mx-auto">
        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fas fa-circle-exclamation fs-4 text-danger" ngbTooltip="Ce champ est obligatoire"></i>
              </span>
              <div class="form-floating">
                <input name="email" type="email" class="form-control" id="emailInp" placeholder=""
                  [(ngModel)]="temporaryUser.email">
                <label for="emailInp">Adresse courriel</label>
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fas fa-circle-exclamation fs-4 text-danger" ngbTooltip="Ce champ est obligatoire"></i>
              </span>
              <div class="form-floating">
                <input name="password" type="password" class="form-control" id="passwordInp" placeholder=""
                  [(ngModel)]="temporaryUser.password">
                <label for="passwordInp">Mot de passe</label>
              </div>
            </div>
            <hr class="my-5">
            <div class="form-floating mb-3">
              <input name="firstName" class="form-control" id="firstNameInp" placeholder=""
                [(ngModel)]="temporaryUser.firstName">
              <label for="firstNameInp">Prénom</label>
            </div>
            <div class="form-floating mb-3">
              <input name="lastName" class="form-control" id="lastNameInp" placeholder=""
                [(ngModel)]="temporaryUser.lastName">
              <label for="lastNameInp">Nom</label>
            </div>
            <div class="form-floating mb-3">
              <input name="address" class="form-control" id="addressInp" placeholder=""
                [(ngModel)]="temporaryUser.address">
              <label for="addressInp">Adresse civique</label>
            </div>
            <div class="form-floating mb-3">
              <input name="phoneNumber" class="form-control" id="phoneNumberInp" placeholder=""
                [(ngModel)]="temporaryUser.phoneNumber">
              <label for="phoneNumberInp">Numéro de téléphone</label>
            </div>
            <div class="form-floating mb-3">
              <input name="postalCode" class="form-control" id="postalCodeInp" placeholder=""
                [(ngModel)]="temporaryUser.postalCode">
              <label for="postalCodeInp">Code postal</label>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label class="form-label" for="profilePictureInp">Photo de profil</label>
              <input name="profilePicture" type="file" class="form-control w-50 mx-auto" id="profilePictoreInp"
                placeholder="" [(ngModel)]="temporaryUser.profilePicture">
            </div>
            <img src="assets/images/contact-book.png" alt="" class="img-fluid img-thumbnail border-4">
            {{temporaryUser.profilePicture}}
          </div>
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-success mt-2 mx-3">Valider</button>
            <button class="btn btn-danger mt-2 ms-3" (click)="cancelCreationAccount()">Annuler</button>
          </div>
        </div>
      </form>
    </div>
    -->
  </section>

</main>