<div *ngIf="visible" class="d-flex justify-content-center my-5">
  <div class="text-center" *ngIf="connectionVisible">
    <h5>Connectez vous:</h5>
    <form>
      <div class="text-center">
        <label>Nom:</label>
        <input [(ngModel)]="temporaryUser.email" name="email" type="email" class="form-control"><br>
        <label>Mot de passe:</label>
        <input [(ngModel)]="temporaryUser.password" name="pwd" type="password" class="form-control"><br>
      </div>

      <br>
      <button class="btn btn-primary" (click)="connect()">
        <i class="fas fa-unlock-keyhole me-2"></i>
        Se connecter
      </button>
      <br><br>
      <button class="btn btn-warning" (click)="createAccount()">
        <i class="fas fa-user-plus me-2"></i>
        Se créer un compte
      </button>
    </form>
  </div>

  <div *ngIf="createAccountVisible">
    <h5>Créer votre compte</h5>
    <form (ngSubmit)="validateCreateAccount()">
      <label>Courriel</label>
      <input type="email" class="form-control" name="cfn" [(ngModel)]="temporaryUser.email"><br>

      <label>Prénom</label>
      <input name="nom" class="form-control" [(ngModel)]="temporaryUser.firstName"><br>

      <label>Nom</label>
      <input name="courriel" class="form-control" [(ngModel)]="temporaryUser.lastName"><br>

      <label>Mot de passe</label>
      <input type="password" class="form-control" name="mdp" [(ngModel)]="temporaryUser.password"><br>


      <br>
      <button type="submit" class="btn btn-success mt-2 mx-3">Valider</button>
      <button class="btn btn-danger mt-2 ms-3" (click)="cancelCreationAccount()">Annuler</button>
    </form>
  </div>
</div>