<section class="admin-container bg-body">
    <section style="min-width: fit-content;">

        <!-- Section de la barre de navigation de la page -->
        <article class="section-navbar">
            <article class="row section-row">

                <!-- La barre de recherche -->
                <div class="col-lg-5">
                    <form class="search-form" style="display: flex;" role="search">
                        <input name="searchField" class="form-control" type="search" placeholder="Rechercher..."
                            aria-label="Search" style="border-top-right-radius: 0;
                            border-bottom-right-radius: 0;">
                        <button class="btn btn-search" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>

                <!-- Les listes déroulantes -->
                <div class="col-lg-4">
                    <div style="display: flex;justify-content: space-evenly; ">
                        <div class="dropdown">
                            <label for="sort-by" class="fit-label">Ordre</label>
                            <select class="form-control combobox" #sortBy name="sort-by" (change)="orderWayBySelect($event)">
                                <option value="DESC">Plus récent</option>
                                <option value="ASC">Plus vieux</option>
                            </select>
                        </div>
                        <div class="dropdown">
                            <label for="search-by" class="fit-label">Trier par</label>
                            <select class="form-control combobox" #searchBy name="search-by" (change)="orderBySelect($event)">
                                <option value="all">Tous</option>
                                <option value="not-resolved">Non-Résolus</option>
                                <option value="resolved">Résolus</option>
                            </select>
                        </div>
                    </div>
                </div>
            </article>
        </article>

        <!-- Section de la table des données -->
        <section>
            <table class="table table-striped" style="text-align: center;">
                <thead>
                    <tr>
                        <th>Courriel</th>
                        <th>N°
                            membre</th>
                        <th>Raison</th>
                        <th>Message</th>
                        <th>Soumission</th>
                        <th>Résolution</th>
                        <th style="width: 10em;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comment of comments" [ngClass]="{'isFixed' : comment.isFixed == 1}">
                        <td>{{comment.user.email}}</td>
                        <td>{{comment.user.memberNumber}}</td>
                        <td>{{comment.reason}}</td>
                        <td>{{comment.content}}</td>
                        <td>{{comment.createdDate}}</td>
                        <td *ngIf="comment.resolvedDate != null">{{comment.formatedResolvedDate()}}</td>
                        <td *ngIf="comment.resolvedDate == null">Non résolu</td>
                        <td>
                            <article style="display: flex;">
                                <button style="margin: auto;" (click)="declareFixed(comment)"
                                    *ngIf="comment.isFixed == 0" class="btn btn-success btn-action">
                                    <i class="fa-solid fa-check" style="width: 60px;"></i>
                                    <span class="info-tooltip">Corriger</span>
                                </button>
                                <button style="margin: auto;" *ngIf="comment.isFixed == 1"
                                    class="btn btn-success btn-action desactivated">
                                    <i class="fa-solid fa-check" style="width: 60px"></i>
                                    <span class="info-tooltip">réglé/lu</span>
                                </button>
                            </article>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        <div class="d-flex flex-column bg"
            style="position: fixed; z-index: 999; bottom: 0; left: 0; width: 13em; padding-bottom: 1em;">
            <div class="d-flex justify-content-center fs-5" style="color: white;">
                <label>
                    <i class="fas fa-sun me-2"></i>
                </label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="colorSwitch"
                        (ngModelChange)="changeTheme()">
                </div>
                <label>
                    <i class="fas fa-moon"></i>
                </label>
            </div>
        </div>

    </section>
</section>