<section class="admin-container">

  <section class="section">
    <article class="article">
      <form (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="title">Titre:</label>
          <input class="form-control" type="text" name="title" [(ngModel)]="book.title"
            (ngModelChange)="validateTitle()" required />
          <p class="error" *ngIf="errors['title'] != null">{{errors['title']}}</p>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" name="description" [(ngModel)]="book.description"
            (ngModelChange)="validateDescription()" required></textarea>
          <p class="error" *ngIf="errors['description'] != null">{{errors['description']}}</p>
        </div>

        <div class="form-group">
          <label for="isbn">ISBN:</label>
          <input class="form-control" type="number" name="isbn" [(ngModel)]="book.isbn" (ngModelChange)="validateISBN()"
            required />
          <p class="error" *ngIf="errors['isbn'] != null">{{errors['isbn']}}</p>
        </div>

        <div class="form-group">
          <label for="publishedDate">Date de publication:</label>
          <input class="form-control" type="date" name="publishedDate" [(ngModel)]="book.publishedDate"
            (ngModelChange)="validatePublishedDate()" required />
          <p class="error" *ngIf="errors['publishedDate'] != null">{{errors['publishedDate']}}</p>
        </div>

        <div class="form-group">
          <label for="originalLanguage">Langue originale:</label>
          <input class="form-control" type="text" name="originalLanguage" [(ngModel)]="book.originalLanguage"
            (ngModelChange)="validateOriginalLanguage()" required />
          <p class="error" *ngIf="errors['originalLanguage'] != null">{{errors['originalLanguage']}}</p>
        </div>

        <div class="form-group">
          <label for="cover">Couverture:</label>
          <input class="form-control" type="file" name="cover" (ngModelChange)="onFileSelected($event)"
            accept="image/*" />
          <p class="error" *ngIf="errors['cover'] != null">{{errors['cover']}}</p>
        </div>

        <div class="form-group">
          <label for="idAuthor">Auteur:</label>
          <div style="display: flex;">
            <button class="form-control btn-selection" type="button" (click)="openModal(authorTemplate)"
              data-toggle="modal" [ngStyle]="{'text-align': book.idAuthor != 0 ? 'left' : ''}">
              {{selectedAuthor}}
            </button>
          </div>
          <p class="error" *ngIf="errors['idAuthor'] != null">{{errors['idAuthor']}}</p>
        </div>

        <div class="form-group">
          <label for="idGenre">Genre:</label>
          <div style="display: flex;">
            <select [(ngModel)]="book.idGenre" name="idGenre" (ngModelChange)="validateIdGenre()" required>
              <option *ngFor="let genre of genres" [value]="genre.idGenre">
                {{ genre.name }}
              </option>
            </select>
            <button class="btn btn-outline-dark" type="button" (click)="openModal(genreTemplate)"
              data-toggle="modal" style="margin-left: 1em;">Ajouter</button>
          </div>
          <p class="error" *ngIf="errors['idGenre'] != null">{{errors['idGenre']}}</p>
        </div>

        <button type="submit">Enregistrer</button>
      </form>
    </article>

    <!-- Modal pour afficher le formulaire d'ajout d'un auteur -->
    <ng-template #authorTemplate let-modal>
      <div type="button" class="btn btn-outline-danger" style="position: absolute; right: 0; aspect-ratio: 1 / 1; border-top-left-radius: 0;
        border-bottom-right-radius: 0;" (click)="modal.close()">
        <i class="fa-solid fa-xmark"></i>
      </div>

      <section class="container row mx-auto p-5">

        <article class="modal-form-container">
          <h5 style="text-align: center;">Trouver un(e) auteur(e)</h5>
          <form>
            <div class="form-group">
              <label>Recherche:</label>
              <input name="authorSearchField" [(ngModel)]="authorSearchField" class="form-control" type="search"
                placeholder="Nom de l'auteur(e)" autocomplete="off" aria-label="Search"
                (ngModelChange)="searchAuthors()">
              <div class="resultsBox">
                <div *ngFor="let author of foundAuthors" class="result">
                  <button type="button" class="result-button"
                    (click)="selectAuthor(author) + modal.close()">{{author.firstName}} {{author.lastName}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </article>

        <p></p>

        <article class="modal-form-container">
          <h5 style="text-align: center;">Créer un(e) auteur(e)</h5>
          <form (ngSubmit)="onCreateAuthorSubmit()">
            <div class="form-group">
              <label>Prénom:</label>
              <input class="form-control" type="text" name="firstName" [(ngModel)]="newAuthor.firstName"
                (ngModelChange)="validateCreateAuthorFirstName()">
              <p class="error" *ngIf="authorFirstName != null">{{authorFirstName}}</p>
            </div>

            <div class="form-group">
              <label>Nom:</label>
              <input class="form-control" type="text" name="lastName" [(ngModel)]="newAuthor.lastName"
                (ngModelChange)="validateCreateAuthorLastName()">
              <p class="error" *ngIf="authorLastName != null">{{authorLastName}}</p>
            </div>

            <button type="submit" style="width: 50%; min-width: 10em; margin: auto;"
              (click)="this.isNewAuthorValid() && modal.close()">Créer</button>
          </form>
        </article>

      </section>
    </ng-template>

    <!-- Modal pour afficher le formulaire d'ajout d'un genre -->
    <ng-template #genreTemplate let-modal>

      <div type="button" class="btn btn-outline-danger" style="position: absolute; right: 0; aspect-ratio: 1 / 1; border-top-left-radius: 0;
        border-bottom-right-radius: 0;" (click)="modal.close()">
        <i class="fa-solid fa-xmark"></i>
      </div>

      <div class="container row mx-auto p-5">
        <h5 style="text-align: center;">Créer un genre</h5>
        <form (ngSubmit)="onCreateGenreSubmit()">

          <div class="form-group">
            <label for="genreName">Nom du genre:</label>
            <input class="form-control" type="text" name="genreName" [(ngModel)]="newGenre.name"
              (ngModelChange)="validateCreateGenre()">
            <p class="error" *ngIf="genreName != null">{{genreName}}</p>
          </div>

          <button type="submit" (click)="this.isNewGenreValid() && modal.close()"
            style="width: 50%; min-width: 10em; margin: auto;">Créer</button>
        </form>
      </div>
    </ng-template>

  </section>
</section>