<section>
  <article>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control"class="form-control" type="text" id="title" name="title" [(ngModel)]="book.title" required />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="book.description"></textarea>
      </div>
      <div class="form-group">
        <label for="isbn">ISBN:</label>
        <input class="form-control"class="form-control" type="text" id="isbn" name="isbn" [(ngModel)]="book.isbn" />
      </div>
      <div class="form-group">
        <label for="publishedDate">Published Date:</label>
        <input class="form-control"type="date" id="publishedDate" name="publishedDate" [(ngModel)]="book.publishedDate" />
      </div>
      <div class="form-group">
        <label for="originalLanguage">Original Language:</label>
        <input class="form-control"type="text" id="originalLanguage" name="originalLanguage" [(ngModel)]="book.originalLanguage" />
      </div>
      <div class="form-group">
        <label for="cover">Cover:</label>
        <input class="form-control"type="text" id="cover" name="cover" [(ngModel)]="book.cover" />
      </div>
      <div class="form-group">
        <label for="idAuthor">Author ID:</label>
        <input class="form-control"type="number" id="idAuthor" name="idAuthor" [(ngModel)]="book.idAuthor" />
      </div>
      <div class="form-group">
        <label for="idGenre">Genre ID:</label>
        <input class="form-control"type="number" id="idGenre" name="idGenre" [(ngModel)]="book.idGenre" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </article>
    
  </section>
  