<!-- Profile page -->

<section *ngIf="visible" class="font">
  <div class="container-fluid bg-light rounded-5 p-4">
    <div class="row">
      <div class="w-auto p-1 border-end border-3 border-secondary">
        <div class="ms-5">
          <div class="my-3 w-75">
            <div class="d-flex justify-content-center">
              <img class="img-fluid img-thumbnail border-3 border-dark rounded-circle w-75"
                src="{{user.profilePicture}}" alt="{{user.firstName + ' ' + user.lastName}}"
                title="{{user.firstName + ' ' + user.lastName}}">
            </div>
            <div class="d-flex justify-content-end" style="margin-right: 15%; margin-top: -50px">
              <label for="profilePicture"
                class="btn btn-secondary border-2 border-dark rounded-circle text-dark fs-2 file-upload">
                <i class="fas fa-plus"></i>
              </label>
              <input type="file" class="d-none" id="profilePicture" [(ngModel)]="profilePicture">
            </div>
          </div>
          <div>
            <h1>{{user.firstName + ' ' + user.lastName}}</h1>
            <!-- TODO: Add a property in the user class that return the full name -->
            <h6>{{user.roles}} depuis le {{user.registrationDate | date:'d/M/yyyy'}}</h6>
            <h6>#{{user.idUser}}</h6>
          </div>
          <div class="mt-2 p-3">
            <hr>
            <div class="ms-3">
              <button class="btn btn-outline-secondary btn-lg rounded-1 px-3 w-50 fs-5" (click)="displayInventory()">
                <i class="fas fa-boxes-stacked me-2"></i>Inventaire
              </button>
              <br>
              <button class="btn btn-outline-primary btn-lg rounded-1 my-3 px-3 w-50 fs-5" (click)="displayBorrow()">
                <i class="fas fa-hand-holding-dollar me-2"></i>Mes emprunts
              </button>
              <br>
              <button class="btn btn-outline-success btn-lg rounded-1 px-3 w-50 fs-5" (click)="displayFavorite()">
                <i class="fas fa-star me-2"></i>Mes favoris
              </button>
            </div>
            <hr>
            <button class="btn btn-warning mt-3 p-3 fs-4 fw-bold" (click)="openModal(content)">
              <i class="fas fa-vault me-2"></i>
              Mettre à jour mon mot de passe
            </button>
            <ng-template #content let-modal>
              <div class="modal-body">
                <h4 class="text-center">Mise à jour du mot de passe</h4>
                <hr>
                <form class="w-75 mx-auto" (ngSubmit)="updatePassword()">
                  <div>
                    <label class="form-label">Mot de passe</label>
                    <input name="oldPassword" [(ngModel)]="password.oldPassword" type="password" class="form-control"
                      placeholder="Veuillez insérer votre mot de passe actuel">
                  </div>
                  <div class="my-3">
                    <label class="form-label">Nouveau mot de passe</label>
                    <input name="newPassword" [(ngModel)]="password.newPassword" type="password" class="form-control"
                      placeholder="Veuillez insérer votre nouveau mot de passe actuel">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Confirmation du nouveau mot de passe</label>
                    <input name="confirmationNewPassword" [(ngModel)]="password.confirmationNewPassword" type="password"
                      class="form-control" placeholder="Veuillez de nouveau insérer votre nouveaumot de passe actuel">
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-warning mx-auto mt-2 fs-5 fw-bold"
                      (click)="modal.dismiss()">
                      <i class="fas fa-floppy-disk me-2"></i>
                      Sauvegarder
                    </button>
                  </div>
                </form>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col p-1">
        <h1 class="mt-5 text-center">Vos informations</h1>
        <form (ngSubmit)="updateProfile()" class="m-5">
          <div class="mb-3">
            <label class="form-label">Adresse courriel</label>
            <input name="email" [(ngModel)]="user.email" type="email" class="form-control" placeholder="user.email">
          </div>
          <div class="row">
            <div class="col mb-3">
              <label class="form-label">Prénom</label>
              <input name="firstName" [(ngModel)]="user.firstName" type="text" class="form-control"
                placeholder="user.firstName">
            </div>
            <div class="col mb-3">
              <label class="form-label">Nom</label>
              <input name="lastName" [(ngModel)]="user.lastName" type="text" class="form-control"
                placeholder="user.lastName">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label class="form-label">Adresse civique</label>
              <input name="address" [(ngModel)]="user.address" type="text" class="form-control"
                placeholder="user.address">
            </div>
            <div class="col mb-3">
              <label class="form-label">Code postal</label>
              <input name="postalCode" [(ngModel)]="user.postalCode" type="text" class="form-control"
                placeholder="user.postalCode" (ngModelChange)="formatPostalCode()">
            </div>
            <div class="col mb-3">
              <label class="form-label">Téléphone</label>
              <input name="phoneNumber" [(ngModel)]="user.phoneNumber" type="text" class="form-control"
                placeholder="user.phoneNumber" (ngModelChange)="formatPhoneNumber()">
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning mx-auto mt-5 fs-5 fw-bold">
              <i class="fas fa-floppy-disk me-2"></i>
              Mettre à jour mes informations
            </button>
          </div>
        </form>
        <hr>
        <div class="w-75 mx-auto mt-5">
          <h2 class="mb-3 text-center">Mes plus récents emprunts</h2>
          <div class="row row-cols-3 g-3">
            <div class="col-2">
              <div class="card text-center">
                <div class="card-img-top p-2">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                    class="img-fluid" alt="...">
                </div>
                <div class="card-body">
                  <h6 class="card-title">Titre du livre</h6>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="card text-center">
                <div class="card-img-top p-2">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                    class="img-fluid" alt="...">
                </div>
                <div class="card-body">
                  <h6 class="card-title">Titre du livre</h6>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="card text-center">
                <div class="card-img-top p-2">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                    class="img-fluid" alt="...">
                </div>
                <div class="card-body">
                  <h6 class="card-title">Titre du livre</h6>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="card text-center">
                <div class="card-img-top p-2">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                    class="img-fluid" alt="...">
                </div>
                <div class="card-body">
                  <h6 class="card-title">Titre du livre</h6>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="card text-center">
                <div class="card-img-top p-2">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                    class="img-fluid" alt="...">
                </div>
                <div class="card-body">
                  <h6 class="card-title">Titre du livre</h6>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="card text-center">
                <div class="card-img-top p-2">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                    class="img-fluid" alt="...">
                </div>
                <div class="card-body">
                  <h6 class="card-title">Titre du livre</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>