<!-- Profile page -->
<section class="container-fluid bg-light rounded-5 p-4">
  <div class="d-flex justify-content-center mt-2 mb-5">
    <ngb-toast *ngIf="show.showToast" header="{{show.type}}" [delay]="10000" [ngClass]="show.type === 'Succès' ? 'bg-success' : 'bg-danger'" class="w-75">
      <div class="fs-3 text-white text-center">
          <i *ngIf="show.type === 'Succès'; else firstElseBlock" class="fa-solid fa-circle-check me-2"></i>
          <ng-template #firstElseBlock>
            <i class="fa-solid fa-triangle-exclamation me-2"></i>
          </ng-template>
          {{show.message}}
          <i *ngIf="show.type === 'Succès'; else secondElseBlock" class="fa-solid fa-circle-check me-2"></i>
          <ng-template #secondElseBlock>
            <i class="fa-solid fa-triangle-exclamation ms-2"></i>
          </ng-template>
      </div>
    </ngb-toast>
  </div>
  <div class="row">
    <div class="mx-5 w-auto p-1 border-end border-3 border-secondary">
      <div class="mx-5">
        <a type="button" class="d-flex justify-content-end" (click)="openModal(preferenceContent)">
          <i class="fas fa-toolbox text-secondary" style="font-size: 5em"></i>
        </a>
        <div class="my-3 w-75">
          <div class="d-flex justify-content-center">
            <img class="img-fluid img-thumbnail border-3 border-dark rounded-circle w-75" src="{{user?.profilePicture}}"
              alt="{{user?.firstName + ' ' + user?.lastName}}" title="{{user?.firstName + ' ' + user?.lastName}}"
              (error)="handleMissingImage($event)">
            <!-- TODO: Set the source at {{user.profilePicture}} -->
          </div>
          <div class="d-flex justify-content-end" style="margin-right: 15%; margin-top: -50px">
            <label for="profilePicture"
              class="btn btn-secondary border-2 border-dark rounded-circle text-dark fs-2 file-upload">
              <i class="fas fa-plus"></i>
            </label>
            <input type="file" class="d-none" id="profilePicture" [(ngModel)]="profilePicture">
          </div>
        </div>
        <div>
          <h1>{{user?.firstName + ' ' + user?.lastName}}</h1>
          <!-- TODO: Add a property in the user class that return the full name -->
          <h6>{{user?.roles}} depuis le {{user?.registrationDate | date:'d/M/yyyy'}}</h6>
          <h6>#{{user?.memberNumber}}</h6>
        </div>
        <hr>
        <button class="btn btn-warning mt-3 p-3 fs-4 fw-bold" (click)="openModal(passwordContent)">
          <i class="fas fa-vault me-2"></i>
          Mettre à jour mon mot de passe
        </button>
      </div>
    </div>
    <div class="col ms-2 p-1">
      <h1 class="mt-5 text-center">Vos informations</h1>
      <form #profileForm="ngForm" (ngSubmit)="updateProfile(user?.idUser, profileForm.value)" class="m-5">
        <div class="mb-3">
          <label class="form-label">Adresse courriel</label>
          <input name="email" [ngModel]="user?.email" type="email" class="form-control" placeholder="user.email">
        </div>
        <div class="row">
          <div class="col mb-3">
            <label class="form-label">Prénom</label>
            <input name="firstName" [ngModel]="user?.firstName" type="text" class="form-control"
              placeholder="user.firstName">
          </div>
          <div class="col mb-3">
            <label class="form-label">Nom</label>
            <input name="lastName" [ngModel]="user?.lastName" type="text" class="form-control"
              placeholder="user.lastName">
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label class="form-label">Adresse civique</label>
            <input name="address" [ngModel]="user?.address" type="text" class="form-control" placeholder="user.address">
          </div>
          <div class="col mb-3">
            <label class="form-label">Code postal</label>
            <input name="postalCode" [ngModel]="user?.postalCode" type="text" class="form-control"
              placeholder="user.postalCode" (ngModelChange)="formatPostalCode()">
          </div>
          <div class="col mb-3">
            <label class="form-label">Téléphone</label>
            <input name="phoneNumber" [ngModel]="user?.phoneNumber" type="text" class="form-control"
              placeholder="user.phoneNumber" (ngModelChange)="formatPhoneNumber()">
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-warning mx-auto mt-5 fs-5 fw-bold">
            <i class="fas fa-floppy-disk me-2"></i>
            Mettre à jour mes informations
          </button>
        </div>
      </form>
      <hr>
      <div class="w-75 mx-auto mt-5">
        <h2 class="mb-3 text-center">Mes plus récents emprunts</h2>
        <div class="row row-cols-3 g-3">
          <div class="col-2">
            <div class="card text-center">
              <div class="card-img-top p-2">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                  class="img-fluid" alt="...">
              </div>
              <div class="card-body">
                <h6 class="card-title">Titre du livre</h6>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card text-center">
              <div class="card-img-top p-2">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                  class="img-fluid" alt="...">
              </div>
              <div class="card-body">
                <h6 class="card-title">Titre du livre</h6>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card text-center">
              <div class="card-img-top p-2">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                  class="img-fluid" alt="...">
              </div>
              <div class="card-body">
                <h6 class="card-title">Titre du livre</h6>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card text-center">
              <div class="card-img-top p-2">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                  class="img-fluid" alt="...">
              </div>
              <div class="card-body">
                <h6 class="card-title">Titre du livre</h6>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card text-center">
              <div class="card-img-top p-2">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                  class="img-fluid" alt="...">
              </div>
              <div class="card-body">
                <h6 class="card-title">Titre du livre</h6>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card text-center">
              <div class="card-img-top p-2">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5sYmr7AJBSdWVbVO-LYyaytvMfPCuNXymg&usqp=CAU"
                  class="img-fluid" alt="...">
              </div>
              <div class="card-body">
                <h6 class="card-title">Titre du livre</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Update password modal -->
<ng-template #passwordContent let-modal>
  <div class="modal-body">
    <h4 class="text-center">Mise à jour du mot de passe</h4>
    <hr>
    <form #passwordForm="ngForm" class="w-75 mx-auto" (ngSubmit)="updatePassword(user?.idUser, passwordForm.value)">
      <div>
        <label class="form-label">Mot de passe</label>
        <input name="activePassword" ngModel type="password" class="form-control"
          placeholder="Veuillez insérer votre mot de passe actuel">
      </div>
      <div class="my-3">
        <label class="form-label">Nouveau mot de passe</label>
        <input name="newPassword" ngModel type="password" class="form-control"
          placeholder="Veuillez insérer votre nouveau mot de passe actuel">
      </div>
      <div class="mb-3">
        <label class="form-label">Confirmation du nouveau mot de passe</label>
        <input name="confirmationPassword" ngModel type="password" class="form-control"
          placeholder="Veuillez de nouveau insérer votre nouveaumot de passe actuel">
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-warning mx-auto mt-2 fs-5 fw-bold" (click)="modal.dismiss()">
          <i class="fas fa-floppy-disk me-2"></i>
          Sauvegarder
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #preferenceContent let-modal style="font-size: 5em">
  <div class="modal-header">
    <h4 class="modal-title mx-auto">
      Vos préférences
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body mb-3 p-4">
    <div class="d-flex">
      <h4>Thème :</h4>
      <div class="ms-5 my-auto d-flex justify-content-center fs-5">
        <label>
          <i class="fas fa-moon me-2"></i>
        </label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="switch" (click)="switchTheme()">
        </div>
        <label>
          <i class="fas fa-sun"></i>
        </label>
      </div>
    </div>
    <div class="d-flex">
      <h4 class="mt-3">Zone à risque :</h4>
      <div class="ms-5 my-auto d-flex justify-content-center">
        <button class="btn btn-danger" (click)="openModal(closeContent)">
          Fermer mon compte
        </button>
      </div>
    </div>
  </div>
  <hr>
</ng-template>

<!-- Close account modal -->
<ng-template #closeContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title mx-auto">
      Vous êtes sur le point de fermer votre profil
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form #closeAccountForm="ngForm" class="w-75 mx-auto my-3 text-center"
      (ngSubmit)="closeProfile(user?.idUser, closeAccountForm.value.password)">
      <label class="form-label">Pour continuer,<br><span class="text-danger fs-3 fw-bold">veuillez entrer votre mot de
          passe :</span></label>
      <div class="input-group input-group-lg mx-auto mb-3">
        <span class="input-group-text">
          <i class="fa-solid fa-user-slash"></i>
        </span>
        <input name="password" ngModel type="password" class="form-control" placeholder="Mot de passe">
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-danger" (click)="modal.close()">Fermer le compte</button>
      </div>
    </form>
  </div>
</ng-template>