<div class="bg-body" *ngIf="recommendedBooks.length>0" style="padding-top: 5% ;">
  <div class="d-flex">
    <h2>Recommendations</h2>
    <div style="margin-left: 15%;" class="dropdown show">
      <h3 style="width: auto; padding: 0; margin-top: 1.5%;">
        Changer l'affichage par:
      </h3>

      <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-bottom:3% ;">
        <label class="btn btn-outline-secondary">
          <input (click)="setAll()" type="radio" name="options" id="option1" autocomplete="off" checked> Tout
        </label>
        <label class="btn btn-outline-secondary">
          <input (click)="setFav()" type="radio" name="options" id="option2" autocomplete="off"> Vos favoris <i class="far fa-heart"></i>
        </label>
        <label class="btn btn-outline-secondary">
          <input (click)="setBorrow()" type="radio" name="options" id="option3" autocomplete="off"> Vos statistques <i class="fa-regular fa-chart-bar"></i>
        </label>
        <label class="btn btn-outline-secondary">
          <input (click)="setAdmin()" type="radio" name="options" id="option4" autocomplete="off"> Nos coup de coeur <i class="fa-regular fa-star"></i>
        </label>
      </div>  
    </div>
  </div>

  <!-- Slideshow container -->
  <div class="slideshow-container" style="width: 70vw; height: 25vh; display: flex; flex-direction: row;">

    <!-- Full-width images with number and caption text -->
    <!--  <div *ngFor="let book of recommendedBooks" class="mySlides" id="mySlides" style="display: flex; flex-direction: row; margin: 5%;" hidden>
      <div class="numbertext">1 / 3</div>
      <img src="assets/images/books/default-book.png" style="width:15vh;">
      <div style="width: 50vw;">
          <h2>{{book.title}}</h2>
          <p>{{book.description}}</p>
      </div>
    </div>
   -->
    <div type="button" class="col mySlides" id="mySlides" *ngFor="let book of displayedBooks"
      (click)="displayBook(book.idBook)">
      <div class="card h-100 mb-3">
        <div class="row g-0">
          <div class="col-4">
            <img src={{getBookCover(book.idBook)}} style="height: 20vh;" class="img-fluid img-thumbnail m-1"
              alt="{{book.title}}" title="{{book.title}}">
          </div>
          <div class="col-8">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h2 class="card-title">{{book.title | titlecase}}</h2>
              </div>
              <p class="mb-3">{{book.description}}</p>
              <div class="d-flex justify-content-between mt-3">
                <div class="d-flex align-items-center">
                  <i title="une étoile veut dire que le livre vous est recommendé par les administrateurs.les barres veulent dire que le livre est recommendé selon votre historique"
                    class="text-danger fs-2"
                    [ngClass]="(book.isRecommended) ? 'fa-regular fa-star' : 'fa-regular fa-chart-bar'"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Next and previous buttons -->
    <a *ngIf="recommendedBooks.length!=1" class="prev" (click)="plusSlides(-1)">&#10094;précédent</a>
    <a *ngIf="recommendedBooks.length!=1" class="next" (click)="plusSlides(1)">&#10095;prochain</a>
  </div>
</div>