<section class="admin-container">
    <section style="min-width: fit-content;">

        <!-- Section de la barre de navigation de la page -->
        <article class="section-navbar">
            <article class="row section-row">

                <!-- La barre de recherche -->
                <div class="col-lg-5">
                    <form class="search-form" style="display: flex;" role="search" (ngSubmit)="search()">
                        <input name="searchField" [(ngModel)]="searchField" class="form-control" type="search"
                            placeholder="Rechercher..." aria-label="Search" style="border-top-right-radius: 0;
                            border-bottom-right-radius: 0;">
                        <button class="btn btn-search" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>

                <!-- Les listes déroulantes -->
                <div class="col-lg-4">
                    <div style="display: flex;justify-content: space-evenly; ">
                        <div class="dropdown">
                            <label for="sort-by" class="fit-label">Ordre</label>
                            <select class="form-control combobox" #sortBy name="sort-by"
                                (change)="changeSortBy(sortBy.value); sortReservations()">
                                <option value="ascending">Croissant</option>
                                <option value="descending">Décroissant</option>
                            </select>
                        </div>
                        <div class="dropdown">
                            <label for="search-by" class="fit-label">Trier par</label>
                            <select class="form-control combobox" #searchBy name="search-by"
                                (change)="changeResearchBy(searchBy.value); sortReservations()">
                                <option value="title">Titre</option>
                                <option value="memberNumber">Numéro de membre</option>
                                <option value="reservationDate">Date de réservation</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Les contrôles de la page -->
                <div class="col-lg-12">
                    <div class="checkbox" style="display: flex; align-items: center;">
                        <input type="checkbox" checked class="check-box" name="checkbox"
                            (change)="changeCheckBoxState($event)" style="min-height: 26px; min-width: 26px;">
                        <label for="checkbox" style="margin-left: 1em; color: white;">
                            Afficher uniquement les réservations en cours
                        </label>
                    </div>
                </div>

            </article>
        </article>

        <!-- Section de la table des données -->
        <section>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id livre</th>
                        <th [ngStyle]="{'background-color': searchBy.value == 'title' ? '#31359C' : ''}">Titre</th>
                        <th>N° membre emprunteur</th>
                        <th [ngStyle]="{'background-color': searchBy.value == 'memberNumber' ? '#31359C' : ''}">N°
                            membre réserveur</th>
                        <th [ngStyle]="{'background-color': searchBy.value == 'reservationDate' ? '#31359C' : ''}">Date
                            réservation</th>
                        <th>Date retour prévue</th>
                        <th>Retard</th>
                        <th style="width: 10em;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reservation of displayedReservations">
                        <td>{{reservation.book.idBook}}</td>
                        <td>{{reservation.book.title}}</td>
                        <td>{{getBorrowMemberNumber(reservation.idReservation)}}</td>
                        <td>{{reservation.user.memberNumber}}</td>
                        <td>{{reservation.reservationDate}}</td>
                        <td>{{getDueDate(reservation.idReservation)}}</td>
                        <td style="font-weight: bold; color: red;">{{checkIfLate(reservation.idReservation)}}</td>
                        <td>
                            <article style="display: flex;">
                                <button class="btn btn-outline-dark btn-action" (click)="openAbout(about, reservation.book.idBook)"s>
                                    <i class="fa-solid fa-book-open-reader"></i>
                                    <span class="info-tooltip">Détails</span>
                                </button>
                                <button *ngIf="reservation.isActive === 1" class="btn btn-danger btn-action"
                                    (click)="cancelReservation(reservation)">
                                    <i class="fa-solid fa-ban"></i>
                                    <span class="info-tooltip">Annuler</span>
                                </button>
                            </article>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- Modal pour afficher les détails d'un livre -->
        <ng-template #about let-modal>
            
            <div class="container row mx-auto p-5">
                <section class="imageLivre col-5">
                    <img class="img-fluid"
                        src={{getBookCover(book.idBook)}}
                        alt="imageDuLivre">
                </section>
                <section class="infoLivre col-6 offset-1 ">
                    <h2>{{book.title}}</h2>
                    <p>
                        {{book.description}}
                    </p>
        
                    <div class="row">
                        <p class="col-6">Genre :</p>
                        <p class="col-6"></p>
                    </div>
                    <div class="row">
                        <p class="col-6">Langue :</p>
                        <p class="col-6">{{book.originalLanguage}}</p>
                    </div>
                    <div class="row">
                        <p class="col-6">Date de publication :</p>
                        <p class=" col-6">{{book.publishedDate | date : 'yyyy-MM-dd'}}</p>
        
                    </div>
                    <div class="row">
                        <p class="col-6">Isbn :</p>
                        <p class="col-6">{{book.isbn}}</p>
                    </div>
                </section>
            </div>

            <!-- Bouton pour fermer la modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Fermer</button>
            </div>
        </ng-template>

    </section>
</section>