.btn-action {
    margin: 10px;
    position: relative;
}

.main-frame {
    background-color: #f5f5f5;
    padding-top: 1em;
    padding-bottom: 1em;
}

.inventory-table {
    background-image: linear-gradient(to bottom right, #efefef, #bcbcbc);
    padding: 2em;
    height: 60vh;
    overflow-y: scroll;
}

.btn-action:hover .info-tooltip {
    opacity: 1;
}

.inventory-navbar {
    display: flex;
    justify-content: space-between;
}

.fit-label {
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
}

.combobox {
    margin-right: 10px;
}