/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Quicksand:wght@500&family=Roboto:wght@300&display=swap');

.dark-theme
{
  background-color: #333;
  color:white;
  border-color: darkgray;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color:initial;
}

.titres-emprunts
{
  font-family: 'Montserrat', sans-serif;
}

.sous-titres-emprunts
{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.label-emprunts
{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

.label-emprunts-bold
{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
}

th
{
  font-family: 'Montserrat', sans-serif;
  
  font-size: 17px;
}

td
{
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
}

.info-tooltip {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.tooltip-activate:hover .info-tooltip{
  opacity: 1;
}

.admin-container {
  float: right;
  width: calc(100% - 13em);
  height: 100%;
}

/* modal animation */
.modal-content{
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}

.location-page-link
{
  text-decoration: underline;
  cursor: pointer;
}

.location-bar > i
{
  margin-left: 20px;
}