.dark.logo
{
    margin-top: 50px;
    justify-content: center;
}

.dark.title-bar
{
    background-color: rgb(53, 53, 53);
    color: white;
    margin-top: 9px;
    padding: 20px;
    padding-bottom: 10px;
    border-left: 3px solid rgb(209, 209, 209);
}

.dark.location-bar
{
    background-color: rgb(148, 148, 148);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-bottom: 3px solid rgb(209, 209, 209);
    border-left: 3px solid rgb(209, 209, 209);
    border-bottom-left-radius: 10px;
}

.dark.table-div
{
    margin-top: 20px;
    padding: 15px; 
    background-color: rgb(87, 87, 87);
    border: 2px solid rgb(209, 209, 209);
    margin-bottom: -15px;
    border-right: 0;
    border-top-left-radius: 10px;
}

.dark.border-btn
{
    border: 2px solid rgba(0, 0, 0, 0.247);
}

.dark.div-btns
{
    margin-top: 20px;
    padding: 20px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    background-color: rgba(126, 126, 126, 0.651);
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0.548);
}

.master-div
{
    margin: 0 auto;
    margin-top: 60px;
}

.status-not-urgent > td
{
    background-color: rgba(115, 255, 120, 0.50);
    border: 1px;
    border-color: rgba(0, 102, 24, 0.5);
    border-style: solid;
}

.status-semi-urgent > td
{
    background-color: rgba(219, 194, 0, 0.40);
    border: 1px;
    border-color: rgba(181, 160, 0, 0.73);
    border-style: solid;
}

.status-urgent > td
{
    background-color: rgba(215, 132, 1, 0.50);
    border: 1px;
    border-color: rgb(215, 132, 1);
    border-style: solid;
}

.status-late
{
    border:2px;
    border-color: rgba(139, 0, 0, 0.73);
    border-style: solid;
}

.status-late > td
{
    background-color: rgba(183, 0, 0, 0.39);
    border:1px;
    border-color: rgba(139, 0, 0, 0.73);
    border-style: solid;
}

.td-thick
{
    font-weight: 700;
    text-decoration: underline;
}

.icone
{
    font-size: 22px;
}

.icone-petite
{
    font-size: 20px;
}

a 
{
    cursor: pointer;
}

.table-emprunts
{
    margin-top: 38px;
}

.sous-titre
{
    font-weight: 500;
    font-size: 18px;
    color:rgb(87, 87, 87);
    text-decoration: underline;
    margin-bottom: 7px;
}

.divAbout
{
    max-width: 650px;
    border: 2px;
    border-style: solid;
    border-color: rgba(100, 100, 100, 0.87);
    background-color: rgba(69, 110, 177, 0.089);
    padding: 15px;
    border-radius: 15px;
}

.desactivated
{
    opacity: 30%;
    cursor: not-allowed;
}

select 
{
    height: 28px;
    width: 170px;
    margin-left: 10px;
    border: 2px solid;
    border-color: rgba(128, 128, 128, 0.87);
    border-radius: 8px;
    padding-left: 10px;
    cursor: pointer;
    background-color: #525e7e28;
}

select:hover
{
    transition: border-color 1s, background-color 1s;
    background-color: rgba(14, 52, 83, 0.11);
    border-color: rgba(39, 116, 179, 0.979)
}

.i-active:hover
{
    color: rgba(68, 145, 216, 0.884);
    transition: color 0.5s, background-color 1s;
}

.fa-sort-up
{
    margin-left: 3px;
    cursor: pointer;
    color: rgba(57, 93, 134, 0.781);
}

.fa-sort-down
{
    margin-left: 3px;
    cursor: pointer;
    color: rgba(111, 122, 151, 0.781);
}

.image-livre
{
    height: 200px;
    width: 200px;
    border: 5px rgba(0, 0, 0, 0.452) ridge;
    border-radius: 10px;
}

.div-info-renew
{
    justify-content: center;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.062);
    border: 4px solid rgba(0, 0, 0, 0.164);
    border-radius: 10px;
    margin: 0 auto;
    width: fit-content;
}